{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home_swgs' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'view_panels' %}">Panels and Indications</a></li>
      <li class="breadcrumb-item active"> {{ indication_dict.indication_name }}</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
  
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"> {{ indication_dict.indication_name }} </h1>
        <br>
        <h3>Somatic Tier 1</h3>
        {% for panel in indication_dict.genes_and_panels.somatic_tier_one.panels %}
        <a class="btn btn-info" href="{% url 'view_panel'  panel.panel_id %}" role="button">
          {{ panel.panel_name }}
        </a>
        {% endfor %}
        <br>
        <br>
        {% for gene in indication_dict.display_genes.somatic_tier_one %}
        <a class="badge badge-success">
            {{ gene }}
        </a>
        {% endfor %}
        <br>
        <br>
        <h3>Somatic Tier 2</h3>
        {% for panel in indication_dict.genes_and_panels.somatic_tier_two.panels %}
        <a class="btn btn-info" href="{% url 'view_panel'  panel.panel_id %}" role="button">
          {{ panel.panel_name }}
        </a>
        {% endfor %}
        <br>
        <br>
        {% for gene in indication_dict.display_genes.somatic_tier_two %}
        <a class="badge badge-warning">
            {{ gene }}
        </a>
        {% endfor %}
        <br>
        <br>
        <h3>Germline Tier 1</h3>
        {% for panel in indication_dict.genes_and_panels.germline_tier_one.panels %}
        <a class="btn btn-info" href="{% url 'view_panel'  panel.panel_id %}" role="button">
          {{ panel.panel_name }}
        </a>
        {% endfor %}
        <br>
        <br>
        {% for gene in indication_dict.display_genes.germline_tier_one %}
        <a class="badge badge-success">
            {{ gene }}
        </a>
        {% endfor %}
        <br>
        <br>
        <h3>Germline Tier 3</h3>
        {% for panel in indication_dict.genes_and_panels.germline_tier_three.panels %}
        <a class="btn btn-info" href="{% url 'view_panel'  panel.panel_id %}" role="button">
          {{ panel.panel_name }}
        </a>
        {% endfor %}
        <br>
        <br>
        {% for gene in indication_dict.display_genes.germline_tier_three %}
        <a class="badge badge-warning">
            {{ gene }}
        </a>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}