{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item active"> Patient Analysis</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <h3>Variants for tumour sample {{ patient_analysis.tumour_sample.sample_id }} and germline sample {{ patient_analysis.germline_sample.sample_id }}</h3>
  <h5>Variants have been filtered in the following way:</h5>
  <ul>
    <li>Variants with a VAF of >5% in GnomAD have been removed</li>
    <li>Variants are excluded if their most severe consequence is a MODIFIER strength - see <a href="https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html", target="_blank">VEP Documentation</a></li>
  </ul>
  <br>
  <h5>Download SNVs for this patient in a CSV:</h5>
  {% crispy form %}
  <br>
  <br>
  <h5>Somatic SNVs</h5>
  <table class="table" id="runs-table">
    <thead>
      <tr>
        <th scope="col">Variant</th>
        <th scope="col">HGVSc / HGVSp</th>
        <th scope="col">Gene</th>
        <th scope="col">VAF</th>
        <th scope="col">GnomAD</th>
      </tr>
    </thead>
    <tbody>
      {% for v in somatic_snvs %}
      <tr>
        <td>{{ v.pk }}</br>{{ v.consequence }}</td>
        <td>{{ v.hgvsc }}</br>{{ v.hgvsp }}</td>
        <td>{{ v.gene }}</td>
        <td>{{ v.vaf }}%</td>
        <td>{{ v.gnomad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <h5>Germline SNVs</h5>
  <table class="table" id="runs-table">
    <thead>
      <tr>
        <th scope="col">Variant</th>
        <th scope="col">HGVSc / HGVSp</th>
        <th scope="col">Gene</th>
        <th scope="col">VAF</th>
        <th scope="col">GnomAD</th>
        <th scope="col">Tier</th>
      </tr>
    </thead>
    <tbody>
      {% for v in germline_snvs %}
      <tr>
        <td>{{ v.pk }}</br>{{ v.consequence }}</td>
        <td>{{ v.hgvsc }}</br>{{ v.hgvsp }}</td>
        <td>{{ v.gene }}</td>
        <td>{{ v.vaf }}%</td>
        <td>{{ v.gnomad }}</td>
        {% if v.tier == "0" %}
          <td class="table-active">{{ v.tier }}</td>
        {% elif v.tier == "1" %}
          <td class="table-info">{{ v.tier }}</td>
        {% elif v.tier == "3" %}
          <td class="table-warning">{{ v.tier }}</td>
        {% else %}
          <td class="table-secondary">{{ v.tier }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

</div>

{% endblock %}