<p><b>gnomAD</b></p>

<table class="table table-sm">
  <tbody>
    <tr>
      <th>Population max</th>
      <td>x% (x of y)</td>
    </tr>
  </tbody>
</table>


<div class="row">
  <div class="col-6">
    <a class="btn btn-light w-100" data-toggle="modal" href="#gnomad-modal" role="button" aria-expanded="false" aria-controls="gnomad-modal">
      Detailed gnomAD data
    </a>
  </div>
  <div class="col-6">
    <a class="btn btn-light w-100">
      View gnomAD in browser <span class="fa fa-link"></span>
    </a>
  </div>
</div>


<div class="modal fade" id="gnomad-modal" tabindex="-1" role="dialog" aria-labelledby="gnomad-modal-label" aria-hidden="true">
  <div class="modal-dialog" style="min-width:90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gnomad-modal-label">Detailed Gnomad data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-hover">
          <tbody>
            <tr>
              <th class="col-6">Population</th>
              <th class="col-6">Allele frequency</th>
            </tr>
            <tr>
              <td>gnomAD Overall</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD population max</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD African</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD East Asian</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD European (Non-Finnish)</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD Latino</td>
              <td>x% (x of y)</td>
            </tr>
            <tr>
              <td>gnomAD South Asian</td>
              <td>x% (x of y)</td>
            </tr>
          </tbody>
        </table>
        <br>

        <p>Gnomad version x.y.z</p>

      </div>
    </div>
  </div>
</div>