{% load crispy_forms_tags %}

<!-- if previous section not completed yet, show warning-->
{% if not classification_info.current_check.info_check %}
<div class="alert alert-warning">
  Please complete the Variant details tab first
</div>

{% else %}

  <!-- alert if step is complete -->
  {% if classification_info.current_check.full_classification %}
  <div class="alert alert-success">
    <h5>Section complete!</h5>
    <p>You have selected to perform a full S-VIG classification</p>
  </div>
  <div class="alert alert-danger">
    <h5>Reopen?</h5>
    <p><b>Warning!</b> This will remove any S-VIG work you've done</p>
    {% crispy forms.reopen_previous_class_form %}
  </div>
  {% endif %}

  <!-- main section -->
  <h5>Canonical variants in {{ variant_info.gene }}</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-5">HGVS c.</th>
        <th class="col-5">HGVS p.</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      {% for v in previous_classifications.gene_canonical_list %}
      <tr {% if v.match %}class="table-info"{% endif %}>
        <td>{{ v.hgvs_c }}</td>
        <td>{{ v.hgvs_p }}</td>
        <td><a class="btn btn-light w-100">Use this</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">There are no canonical variants in this gene</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>


  <h5>Recent full classifications of this variant in {{ sample_info.specific_tumour_type }}</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-5">Classification</th>
        <th class="col-5">Date of classification</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      {% for v in previous_classifications.recent_list %}
      <tr>
        <td>{{ v.hgvs_p }}</td>
        <td>TODO</td>
        <td><a class="btn btn-light w-100">Use this</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">There are no recent full classifications of this variant in {{ sample_info.specific_tumour_type }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- TODO show most recent full classification -->
  <br>
  <br>


  <div class="row">
    <div class="col-6"><h5>All recent classifications of this variant</h5></div>
    <div class="col-6">
      <a class="btn btn-light w-100" data-toggle="modal" href="#previous-modal" role="button" aria-expanded="false" aria-controls="previous-modal">
        View <span class="badge badge-pill badge-secondary">5</span>
      </a>
    </div>
  </div>
  <br>
  <br>


  <!-- form to complete section-->
  {% if not classification_info.current_check.full_classification %}
  <div class="card-body bg-light">
    <h5>Pick next step</h5>
    <!--{% if previous_classifications.canonical_match %}
    <div class="alert alert-success">
      <p><b>This variant is on the canonical list</b></p>
      <p><b>TODO add loop for this - This variant has been recently classified in another MPN sample</b></p>
    </div>
    {% else %}
    <div class="alert alert-warning">
      <p>Cannot match this variant to the canonical list or any previously classified variants, please review the variants above and select the next option from the dropdown</p>
    </div>
    {% endif %}-->

    {% crispy forms.previous_class_form %}
  </div>
  {% endif %}


{% endif %}


<!-- previous modal -->
<div class="modal fade" id="previous-modal" tabindex="-1" role="dialog" aria-labelledby="previous-modal-label" aria-hidden="true">
  <div class="modal-dialog" style="min-width:60%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previous-modal-label">Previous classifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-2">Worksheet</th>
                <th class="col-2">Sample</th>
                <th class="col-2">Tumour type</th>
                <th class="col-2">Full classification?</th>
                <th class="col-2">Class</th>
                <th class="col-2">Date</th>
              </tr>
            </thead>

          </table>
      </div>
    </div>
  </div>
</div>
