<h5>Finalise classification</h5>

For when the classification has been completed, also include comments, maybe as seperate tab
Flag that not all codes have been filled in and option to procede anyway


<br><br>
<h5>Comments <span class="badge badge-secondary">5</span> <a class="btn btn-info" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">Show/ hide</a></h5>


<div class="collapse" id="comments">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>