<div class="container-fluid">
  {% if classification_info.classification_obj.full_classification %}
  <div class="row">

    <!-- Main area ------------------------------------------------------------------------------->
    <div class="col-9">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <!-- population databases section -->
        <h4 id="list-item-1">Population databases</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/O3_B4.html' %}
          </tbody>
        </table>
        <br>

        <!-- mode of action section -->
        <h4 id="list-item-2">Mode of action</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/O2.html' %}
            {% include 'app_svig/codes/B1.html' %}
          </tbody>
        </table>
        <br>

        <!-- database section --
        <h4 id="list-item-3">Cancer databases</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- protein effect section --
        <h4 id="list-item-4">Effect on protein</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- computational tool section --
        <h4 id="list-item-5">Computational tools</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- functional study section--
        <h4 id="list-item-6">Functional studies</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>-->

      </div>
    </div>


    <!-- side bar -------------------------------------------------------------------->
    <div class="col-3">
      <div id="list-example" class="list-group sticky-top">

        <div id="class-box" >
          <button class="btn btn-block btn-lg btn-disabled btn-{{ classification_info.class_css }}" type="button">
            Current class:<br><b>{{ classification_info.current_class }} </b><span class="badge badge-light">{{ classification_info.current_score }}</span>
          </button>
        </div>
        <p></p>
        <button class="btn btn-block btn-lg btn-outline-dark calculate-class" type="button">Recalculate classification</button>
        <p></p>
        <p></p>
        <p></p>

        <a class="list-group-item list-group-item-action" href="#list-item-1">
          <div class="row">
            <div class="col-10">
              Population databases
              <br>
              <div id="codes-summary-population_db">
              {% for c in codes_by_category.population_db.applied_codes %}
              <span class="badge badge-pill badge-{{ c.css_class }}">{{ c.code }}</span>
              {% endfor %}
              </div>
            </div>
            <div class="col-2">
              <div id="complete-population_db">
              {% if codes_by_category.population_db.complete %}
              <span class="fa fa-check" style="color:#1ab81a"></span>
              {% else %}
              <span class="fa fa-stopwatch"></span>
              {% endif %}
              </div>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">
          <div class="row">
            <div class="col-10">
              Mode of action
              <br>
              <div id="codes-summary-mode_of_action">
              {% for c in codes_by_category.mode_of_action.applied_codes %}
              <span class="badge badge-pill badge-{{ c.css_class }}">{{ c.code }}</span>
              {% endfor %}
            </div>
            </div>
            <div class="col-2">
              <div id="complete-mode_of_action">
              {% if codes_by_category.mode_of_action.complete %}
              <span class="fa fa-check" style="color:#1ab81a"></span>
              {% else %}
              <span class="fa fa-stopwatch"></span>
              {% endif %}
              </div>
            </div>
          </div>
        </a><!-- TODO loops for all options -->
        <a class="list-group-item list-group-item-action" href="#list-item-3">
          <div class="row">
            <div class="col-10">Cancer databases</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">
          <div class="row">
            <div class="col-10">Effect on protein</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">
          <div class="row">
            <div class="col-10">Computational tools</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">
          <div class="row">
            <div class="col-10">Functional studies</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% else %}
  <div class="alert alert-warning">
    Please complete Variant details tab first
  </div>

  {% endif %}
</div>


<!-- guidence modal -->
<div class="modal fade" id="guidence-modal" tabindex="-1" role="dialog" aria-labelledby="guidence-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg"role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guidence-modal-label">S-VIG guidence</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        TODO

      </div>
    </div>
  </div>
</div>


<!-- gets the all_codes variable and wraps in a script tag that can be fetched further down -->
{{ all_codes|json_script:"all_codes" }}


<script>
  // function to update the css on a code based on whether a oncogenic/benign code is applied
  function update_css(target, css_class) {
    target.classList.remove('btn-info', 'btn-secondary', 'btn-danger', 'btn-warning')
    target.classList.add("btn-" + css_class);

    row_element = target.parentElement.parentElement;
    row_element.classList.remove('table-info', 'table-secondary', 'table-danger', 'table-warning')
    row_element.classList.add("table-" + css_class);
  };

  // function to extract the new css class when a dropdown is changed
  function get_new_css(value) {
    var new_css = 'secondary'
    var new_code = value.split('_');
        if (new_code[1].match('NA')){
          new_css = 'secondary';
        } else if (new_code[1].match('PE')){
          new_css = 'warning';
        } else if (new_code[0][0].match('B')){
          new_css = 'info';
        } else {
          new_css = 'danger';
        }
    return new_css
  }

  // preset each dropdown
  // get the all codes variable from all_codes variable called in main html
  const initial_codes = JSON.parse(document.getElementById('all_codes').textContent);

  // loop through each code, get the dropdown element, preselect and add css classes
  for (const [key, c] of Object.entries(initial_codes)) {
    drop_down = document.getElementById(c.code);
    drop_down.value = c.value;
    update_css(drop_down, c.css_class);
  };


  $(".calculate-class").click(function(){
    // pull out all html objects starting with code_*, these are the dropdowns
    let codes = document.querySelectorAll('[id^="code_"]')

    // get the value from each dropdown and add to array
    var code_list = []
    codes.forEach(code => {

      // sometimes there are multiple codes split by a pipe
      let codes_split = code.value.split('|');
      codes_split.forEach(c => {
        code_list.push(c)
      });
    });

    // pass dict to JS form for AJAX POST
    var formData = new FormData();
      formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value);
      formData.append('selections', JSON.stringify(code_list));
      formData.append('classification_pk', "{{ classification_info.classification_obj.pk }}");
      formData.append('check_pk', "{{ classification_info.current_check.pk }}");

      $.ajax({
          url: "{% url 'ajax-svig' %}",
          type: 'POST',
          data: formData,
          contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
          processData: false, // NEEDED, DON'T OMIT THIS
          success: function(data) {
              $("#class-box").html(data.class_box);

              $("#codes-summary-population_db").html(data.codes_summary_population_db);
              $("#codes-summary-mode_of_action").html(data.codes_summary_mode_of_action);

              $("#complete-population_db").html(data.complete_population_db);
              $("#complete-mode_of_action").html(data.complete_mode_of_action);
              //TODO add the other categories
          },
          failure: function(data) {
              alert('Got an error');
          }
      });
  });


  $(document).ready(function(){
    // function that will happen when code change drop downs change in value (wont trigger if same value selected twice)
    $('.code-dropdown').change(function(e){
      // get target element
      c = e.target;

      // get new selected value
      new_value = c.selectedOptions[0].value;

      // handle when dropdown can select two different codes
      if (new_value.includes('|')){
        // find which code was applied
        codes_split = new_value.split('|')
        if (codes_split[0].split('_')[1].match('NA') && codes_split[1].split('_')[1].match('NA')) {
          new_css = 'secondary';
        }
        else if (codes_split[0].split('_')[1].match('NA')) {
          new_css = get_new_css(codes_split[1]);
        } else {
          new_css = get_new_css(codes_split[0]);
        }

      // handle when there is a single code per dropdown
      } else {
        new_css = get_new_css(new_value)
      }

      // update the css using variables from above
      update_css(e.target, new_css);

      // TODO - trigger recalculate button rather than having to rememeber to press it each time
    });

    // And now fire change event when the DOM is ready
    $('.code-dropdown').trigger('change');

  });


</script>