<div class="container-fluid">
  {% if classification.full_classification %}
  <div class="row">

    <!-- side bar -------------------------------------------------------------------->
    <div class="col-3">
      <div id="list-example" class="list-group sticky-top">

        <div id="class-box" >
          <button class="btn btn-block btn-lg btn-disabled btn-{{ class_css }}" type="button">
            Current class:<br><b>{{ current_class }} </b><span class="badge badge-light">{{ current_score }}</span>
          </button>
        </div>
        <p></p>
        <button class="btn btn-block btn-lg btn-outline-dark calculate-class" type="button">Recalculate classification</button>
        <p></p>
        <p></p>
        <p></p>

        <a class="list-group-item list-group-item-action" href="#list-item-1">
          <div class="row">
            <div class="col-10">
              Population databases
              <br><span class="badge badge-pill badge-info">B4_S</span>
            </div>
            <div class="col-2"><span class="fa fa-check" style="color:#1ab81a"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">
          <div class="row">
            <div class="col-10">
              Mode of action
              <br><span class="badge badge-pill badge-danger">O2_SA</span>
            </div>
            <div class="col-2"><span class="fa fa-check" style="color:#1ab81a"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">
          <div class="row">
            <div class="col-10">Cancer databases</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">
          <div class="row">
            <div class="col-10">Effect on protein</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">
          <div class="row">
            <div class="col-10">Computational tools</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">
          <div class="row">
            <div class="col-10">Functional studies</div>
            <div class="col-2"><span class="fa fa-stopwatch"></span></div>
          </div>
        </a>
      </div>
    </div>


    <!-- Main area ------------------------------------------------------------------------------->
    <div class="col-9">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">

        <!-- population databases section -->
        <h4 id="list-item-1">Population databases</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/O3_B4.html' %}
          </tbody>
        </table>
        <br>

        <!-- mode of action section -->
        <h4 id="list-item-2">Mode of action</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/O2.html' %}
            {% include 'app_svig/codes/B1.html' %}
          </tbody>
        </table>
        <br>

        <!-- database section --
        <h4 id="list-item-3">Cancer databases</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- protein effect section --
        <h4 id="list-item-4">Effect on protein</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- computational tool section --
        <h4 id="list-item-5">Computational tools</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>

        <!-- functional study section--
        <h4 id="list-item-6">Functional studies</h4>
        <table class="table table-bordered">
          <tbody>
            {% include 'app_svig/codes/example.html' %}
            {% include 'app_svig/codes/example.html' %}
          </tbody>
        </table>
        <br>-->

      </div>
    </div>
  </div>

  {% else %}
  <div class="card card-body bg-warning">
    Please complete Variant details tab first
  </div>

  {% endif %}
</div>



<script>
  $(".calculate-class").click(function(){
    // pull out all html objects starting with code_*, these are the dropdowns
    let codes = document.querySelectorAll('[id^="code_"]')

    // get the value from each dropdown and add to array
    var code_list = []
    codes.forEach(code => {

      // sometimes there are multiple codes split by a pipe
      let codes_split = code.value.split('|');
      codes_split.forEach(c => {
        code_list.push(c)
      });
    });

    // pass dict to JS form for AJAX POST
    var formData = new FormData();
      formData.append('csrfmiddlewaretoken',document.getElementsByName('csrfmiddlewaretoken')[0].value);
      formData.append('selections', JSON.stringify(code_list));
      formData.append('classification_pk', "{{ classification.pk }}");
      formData.append('check_pk', "{{ check.pk }}");

      $.ajax({
          url: "{% url 'ajax-svig' %}",
          type: 'POST',
          data: formData,
          contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
          processData: false, // NEEDED, DON'T OMIT THIS
          success: function(data) {
              $("#class-box").html(data);
          },
          failure: function(data) {
              alert('Got an error');
          }
      });
  });

</script>