<h5>Finalise classification</h5>

<p>TODO summary of codes applied</p>
<p>TODO if any pending codes, show a warning that can be overridden</p>
<p>TODO options to send to next checker or send back</p>
<p>TODO comments on new tab</p>

<br><br>
<h5>Comments <span class="badge badge-secondary">5</span> <a class="btn btn-info" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">Show/ hide</a></h5>


<div class="collapse" id="comments">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>