{% load crispy_forms_tags %}

<h5>Sample info</h5>
<br>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>Sample ID</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Worksheet</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>SVD panel</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Specific tumour type</th>
      <td>AML</td>
    </tr>
  </tbody>
</table>
<br><br>

<h5>Variant info</h5>
<br>

<table class="table table-hover">
  <tbody>
    <tr>
      <th>Genomic co-ords</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>HGVS c.</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>HGVS p.</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Variant consequence</th>
      <td>TODO</td>
    </tr>
    <tr>
      <th>Mode of action</th>
      <td>TODO</td>
    </tr>
  </tbody>
</table>

<p>TODO - form to confirm all correct and edit if needs be</p>

<p>TODO - annotations and versions of sources. Possibly ability to edit?</p>