{% extends 'analysis/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'germline_classification:home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'germline_classification:completed_classifications' %}">Completed Classifications</a></li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
<h1>Completed Classifications</h1>
<br>
<br>
<h3>Spiel</h3>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th class="col-md-4">Variant</th>
            <th class="col-md-1">Gene</th>
            <th class="col-md-4">HGVSc / HGVSp</th>
            <th class="col-md-1">Origin</th>
            <th class="col-md-2">Classification</th>
        </tr>
    </thead>
    <tbody>
        {% for c in classifications %}
        <tr>
            <td>{{ c.genomic_coordinate }}</td>
            <td>{{ c.gene }}</td>
            <td>{{ c.hgvsc }}<br>{{ c.hgvsp }}</td>
            <td>{{ c.origin }}</td>
            <td>{{ c.outcome }} ({{ c.score }})</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}