{% load custom_tags %}
{% load crispy_forms_tags %}

<!-- if previous section not completed yet, show warning-->
{% if not classification_info.current_check.info_check %}
<div class="alert alert-warning">
  Please complete the Variant details tab first
</div>

{% else %}

  <!-- alert if step is complete -->
  {% if classification_info.classification_obj.get_status != "Complete" %}
  {% if classification_info.current_check.full_classification %}
  <div class="alert alert-success">
    <h5>Section complete!</h5>
    <p>
      You have selected to perform a full classification.
      <a href="" data-toggle="modal" data-target="#reopen_previous_modal">Click here to reopen</a>
    </p>
  </div>
  {% endif %}
  {% endif %}

  <!-- main section -->
   <!-- TODO this is showing the current classification and uncompleted ones-->
  <h5>Most recent full classification of this variant in {{ sample_info.specific_tumour_type }}</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-5">Classification</th>
        <th class="col-5">Date of classification</th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <tbody>
      {% for c in previous_classifications|slice:":1" %}
      <tr>
        <td>{{ c.get_final_class_display }} ({{ c.final_score }})</td>
        <td>TODO</td>
        <td><a class="btn btn-light w-100">View</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">There are no recent full classifications of this variant in {{ sample_info.specific_tumour_type }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>


  <div class="row">
    <div class="col-6"><h5>All classifications of this variant across all tumour types</h5></div>
    <div class="col-6">
      <a class="btn btn-light w-100" data-toggle="modal" href="#previous-modal" role="button" aria-expanded="false" aria-controls="previous-modal">
        View <span class="badge badge-pill badge-{{ previous_classifications|length|colour_by_count }}">{{ previous_classifications|length }}</span>
      </a>
    </div>
  </div>
  <br>
  <br>


  <!-- form to complete section-->
  {% if classification_info.classification_obj.get_status != "Complete" %}
  {% if not classification_info.current_check.full_classification %}
  <div class="alert alert-info">
    <h5>Pick next step</h5>
    <!--{% if previous_classifications.canonical_match %}
    <div class="alert alert-success">
      <p><b>This variant is on the canonical list</b></p>
      <p><b>TODO add loop for this - This variant has been recently classified in another MPN sample</b></p>
    </div>
    {% else %}
    <div class="alert alert-warning">
      <p>Cannot match this variant to the canonical list or any previously classified variants, please review the variants above and select the next option from the dropdown</p>
    </div>
    {% endif %}-->

    {% crispy forms.previous_class_form %}
  </div>
  {% endif %}
  {% endif %}

{% endif %}


<!-- previous modal -->
<div class="modal fade" id="previous-modal" tabindex="-1" role="dialog" aria-labelledby="previous-modal-label" aria-hidden="true">
  <div class="modal-dialog" style="min-width:90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previous-modal-label">Previous classifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover" id="previous-table">
            <thead>
              <tr>
                <th class="col-2">Date</th>
                <th class="col-2">Sample</th>
                <th class="col-2">Worksheet</th>
                <th class="col-2">Tumour type</th>
                <th class="col-2">Full classification?</th>
                <th class="col-2">Class</th>
              </tr>
            </thead>
            <tbody>
            {% for c in previous_classifications %}
              <tr>
                <td>TODO</td>
                <td>{{ c.get_sample_info.sample_id }}</td>
                <td>{{ c.get_sample_info.worksheet_id }}</td>
                <td>{{ c.get_sample_info.svd_panel }}</td>
                <td>TODO</td>
                <td>
                  {% if c.get_final_class_display %}
                    {{ c.get_final_class_display }} ({{ c.final_score }})
                  {% else %}
                    Pending
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>


<!-- Reopen modal -->
<div class="modal fade" id="reopen_previous_modal" tabindex="-1" aria-labelledby="reopen_previous_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reopen_previous_modal_label">Reopen?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            <p><b>Warning!</b> This will remove any interpretation work you've done</p>
          </div>
          {% crispy forms.reopen_previous_class_form %}

        </div>
      </div>
    </div>
  </div>


<script>
$(document).ready( function() {

    // Inititialise DataTable
    $('#previous-table').DataTable({
        paging: true,
        columns: [
            {orderable: true},
            {orderable: true},
            {orderable: true},
            {orderable: true},
            {orderable: false},
            {orderable: false}
        ],
        info: true,
        pageLength: 10,
        searching: true,
        aaSorting: [],
        language: {
            searchPlaceholder: "Search",
            search: "",
        },
        initComplete: function () {
            $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
        }
    });
} );
</script>