{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item active"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'view-all-svig' %}">S-VIG</a></li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h5>S-VIG</h5>
    <br>
    <table class="table" id="classifications-table">
      <thead>
        <tr>
          <th scope="col">Variant</th>
          <th scope="col">Guidelines</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for c in classifications %}
        <tr>
          <td>{{ c }}</td>
          <td>{{ c.guideline }}</td>
          <td>{{ c.get_status }}</td>
          <td style="text-align:right">
            <a class="btn btn-secondary" href="{% url 'svig-analysis' c.pk %}" role="button">View</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
  
    {% crispy new_form %}
  </div>


<script>
    $(document).ready( function() {

        // Inititialise DataTable
        $('#classifications-table').DataTable({
            paging: true,
            columns: [
                {orderable: true},
                {orderable: false},
            ],
            info: true,
            pageLength: 10,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            }
        });
    } );
</script>

{% endblock %}