{% load svig_tags %}
{% load crispy_forms_tags %}



<!-- if previous section not completed yet, show warning-->
<!-- TODO also handle when previous classification used -->
{% if not classification_info.current_check.svig_check %}
<div class="alert alert-warning">
    Please complete the Biological interpretation tab first
</div>

{% else %}

    <h5>Clinical classification</h5>
    {% if classification_info.classification_obj.get_status != "Complete" %}
    {% crispy forms.clinical_class_form %}

    {% else %}
    <button class="btn btn-block btn-lg btn-disabled btn-{{ classification_info.current_check.get_final_clinical_class_display|colour_by_class }}" type="button">
        <b>{{ classification_info.current_check.get_final_clinical_class_display }}</b>
    </button>
    <br>
    <br>

    <h5>Reporting comments:</h5>
    <p>{{ classification_info.current_check.reporting_comment }}</p>

    {% endif %}
    <br>
    <br>


    {% if classification_info.classification_obj.get_status != "Complete" %}
    {% if not classification_info.current_check.final_clinical_class %}
    <div class="alert alert-warning">
        TODO submit form
    </div>

    {% else %}
    <div class="card-body bg-success">
    <h5>Finalise check</h5>
    TODO reopen form
    </div>
    {% endif %}
    {% endif %}

{% endif %}