{% load crispy_forms_tags %}
{% load svig_tags %}

<!-- forms when check is complete-->
{% if classification_info.current_check.info_check %}
<div class="alert alert-success">
  <h5>Section complete!</h5>
  <p>
    You have confirmed that the information on this page is accurate.
    <a href="" data-toggle="modal" data-target="#reopen_info_modal">Click here to reopen</a>
  </p>
</div>
{% endif %}


<!-- main section -->
<h5>Sample info</h5>
<br>

<table class="table table-hover">
  <tbody>
    <tr>
      <th class="col-4">Sample ID</th>
      <td class="col-8">{{ sample_info.sample_id }}</td>
    </tr>
    <tr>
      <th>Worksheet</th>
      <td>{{ sample_info.worksheet_id }}</td>
    </tr>
    <tr>
      <th>SVD panel</th>
      <td>{{ sample_info.svd_panel }}</td>
    </tr>
    <tr>
      <th>Specific tumour type</th>
      <td>{{ sample_info.specific_tumour_type }}</td>
    </tr>
  </tbody>
</table>
<br>

<h5>Variant info</h5>
<br>

<table class="table table-hover">
  <tbody>
    <tr>
      <th class="col-4">Genomic co-ords</th>
      <td class="col-4">{{ variant_info.genomic }} <span class="badge badge-{{ variant_info.build|colour_by_build }} badge-pill">GRCh{{ variant_info.build }}</span></td>
      <td class="col-4"></td>
    </tr>
    <tr>
      <th>Gene</th>
      <td>{{ variant_info.gene }} ({{ variant_info.exon }})</td>
      <td></td>
    </tr>
    <tr>
      <th>HGVS c.</th>
      <td>{{ variant_info.hgvs_c }}</td>
      <td></td>
    </tr>
    <tr>
      <th>HGVS p.</th>
      <td>{{ variant_info.hgvs_p }}</td>
      <td></td>
    </tr>
    <tr>
      <th>Variant consequence</th>
      <td>{{ variant_info.consequence }}</td>
      <td>VEP v{{ variant_info.annotation_versions.vep_version }}</td>
    </tr>
  </tbody>
</table>
<br>

<h5>Gene info</h5>
<br>

<table class="table table-hover">
  <tbody>
    <tr>
      <th class="col-4">Mode of action</th>
      <td class="col-4">{{ variant_info.mode_action }}</td>
      <td class="col-4">CGC downloaded {{ variant_info.annotation_versions.cgc_version }}</td>
    </tr>
    <tr>
      <th>Mutation types</th>
      <td>{{ variant_info.mutation_types }}</td>
      <td>CGC downloaded {{ variant_info.annotation_versions.cgc_version }}</td>
    </tr>
  </tbody>
</table>

<br><br>


<!-- forms to complete check-->
{% if not classification_info.current_check.info_check %}
<div class="alert alert-info">
  <h5>Please confirm that this page has been checked</h5>
  <br>
  {% crispy forms.check_info_form %}
</div>

{% endif %}


<!-- Reopen modal -->
<div class="modal fade" id="reopen_info_modal" tabindex="-1" aria-labelledby="reopen_info_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reopen_info_modal_label">Reopen?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <p><b>Warning!</b> This will reset any work you've done on the Previous classifications and S-VIG tabs</p>
        </div>
        {% crispy forms.reopen_check_info_form %}

      </div>
    </div>
  </div>
</div>
