{% load svig_tags %}
{% load crispy_forms_tags %}

<!-- if previous section not completed yet, show warning-->
<!-- TODO also handle when previous classification used -->
{% if not classification_info.current_check.svig_check %}
<div class="alert alert-warning">
    Please complete the S-VIG tab first
</div>

{% else %}

    <h5>Checks summary</h5>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th class="col-1">Check</th>
                <th class="col-3">User</th>
                <th class="col-2">Reuse previous?</th>
                <th class="col-3">Biological class</th>
                <th class="col-3">Clinical class</th>
            </tr>
        </thead>
        <tbody>
        {% for c in classification_info.all_checks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c.user }}</td>
                <td>TODO</td>
                <td>{{ c.get_final_biological_class_display }} ({{ c.final_biological_score }})</td>
                <td>{{ c.get_final_clinical_class_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>


    {% if classification_info.classification_obj.get_status != "Complete" %}
    {% if not classification_info.current_check.final_clinical_class %}
    <div class="alert alert-warning">
        Please complete the clinical classification before submitting
    </div>

    {% else %}
    <div class="card-body bg-light">
    <h5>Finalise check</h5>
    {% crispy forms.finalise_form %}
    </div>
    {% endif %}

    {% else %}
    <h5>Final classification</h5>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-block btn-lg btn-disabled btn-{{ classification_info.current_check.get_final_biological_class_display|colour_by_class }}" type="button">
                <b>{{ classification_info.current_check.get_final_biological_class_display }}</b>
                &nbsp;<span class="badge badge-light">{{ classification_info.current_check.final_biological_score }}</span>
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-block btn-lg btn-disabled btn-{{ classification_info.current_check.get_final_clinical_class_display|colour_by_class }}" type="button">
                <b>{{ classification_info.current_check.get_final_clinical_class_display }}</b>
            </button>
        </div>
    </div>
    <br>
    <br>

    <div class="alert alert-warning">
        <h5>Analysis complete!</h5>
        <p>
            Analysis for this variant has been completed.
            <a href="" data-toggle="modal" data-target="#">Click here to reopen</a>
        </p>
    </div>

    {% endif %}

{% endif %}