{% load svig_tags %}

<tr>
  <th class="col-1">
    {{ code_details.list|join:"<br>" }}
  </th>
  <th class="col-7">
    {% for c in code_details.details %}
      {% for k, v in c.items %}
        {{ v.description }}&nbsp;
        <a class="badge badge-light" data-toggle="modal" href="#guidence-modal" role="button" aria-expanded="false" aria-controls="guidence-modal">
          More info
        </a>
        <br>
      {% endfor %}
    {% endfor %}
  </th>
  <th class="col-4">
    <select size="1" id="code_{{ code }}" name="code_{{ code }}" class="btn btn-lg btn-block code-dropdown">
      {% for c in code_details.dropdown %}
      <option value="{{ c.value }}">{{ c.text }}</option>
      {% endfor %}
    </select>
  </th>
</tr>
<tr>
  <td colspan="2">
    {% include 'svig/annotations/gnomad.html' %}
  </td>

  <td colspan="1">
    <p><b>Checks</b></p>
    <table class="table table-sm">
      <tbody>
      {% for c in code_details.all_checks %}
        <tr>
          <td class="col-6">#{{ forloop.counter }}{% if forloop.last %} (Current){% endif %}</td>
          <td class="col-6"><span class="badge badge-{{ c|colour_by_class }} w-100">{{ c }}</span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <!-- TODO - not plumbed in -->
    <a class="btn btn-light w-100">Comments&nbsp;<span class="badge badge-secondary">0</span></a>

  </td>
</tr>