{% load crispy_forms_tags %}

<h5>Patient details</h5>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="col-4"><b>Patient ID</b></td>
      <td class="col-8">{{ sample_data.sample_id }}</td>
    </tr>
    <tr>
      <td><b>Worksheet</b></td>
      <td>{{ sample_data.worksheet_id }}</td>
    </tr>
    <tr>
      <td><b>Panel</b></td>
      <td>{{ sample_data.panel_obj }}</td>
    </tr>
    <tr>
      <td><b>Assay</b></td>
      <td>{{ sample_data.panel_obj.get_assay_display }}</td>
    </tr>
    <tr>
      <td><b>Run ID</b></td>
      <td>{{ sample_data.run_id }}</td>
    </tr>
    <tr>
      <td><b>Genome Build</b></td>
      {% if sample_data.genome_build == 37 %}
      <td><span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</td>
      {% elif sample_data.genome_build == 38 %}
      <td><span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</td>
      {% endif %}   
    </tr>
  </tbody>
</table>
<br>

{% if 'IGV' in sample_data.status %}
<div class="card">
  <div class="card-body">
    <h5>Patient demographics check</h5>
    <br>
    {% crispy demographics_form %}
  </div>
</div>

{% endif %}
<br>
