{% load crispy_forms_tags %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Variant</th>
      <th scope="col">Gene</th>
      <th scope="col">HGVS</th>
      <th scope="col">VAF</th>
      <th scope="col">This run</th>
      <th scope="col">Previous runs</th>
      <th scope="col">IGV</th>
      <th><span class="fa fa-comment-alt"></span></th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    {% for v in variant_data.variant_calls %}
    <tr>
      <td>
        <p style="display:inline" id="igv">{{ v.genomic }} </p><button class="btn btn-sm btn-info" onclick="copyToClipboard('#igv')"><span class="fa fa-copy"></span></button>
      </td>
      <td>
        {{ v.gene }}<br>{{ v.exon }}
      </td>
      <td>
        {{ v.transcript }}<br>{{ v.hgvs_c }}<br>{{ v.hgvs_p }}
      </td>
      <td>
        {{ v.vaf.vaf }}<br>{{ v.vaf.alt_count }} of {{ v.vaf.total_count }} reads
      </td>
      <td>
        {{ v.this_run.count }} of {{ v.this_run.total }} samples<br>Present in NTC: {{ v.this_run.ntc }}
      </td>
      <td>
        {{ v.previous_runs.known }}
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#counts-modal">
          previous runs: {{ v.previous_runs.count }} <span class="fa fa-search"></span>
        </button>
      </td>
      <td>
        {% for check in v.checks %}
          {{ forloop.counter }}: {{ check }}<br>
        {% endfor %}
      </td>
      <td>
        <button type="button" data-toggle="modal" data-target="#comments-modal"
        {% if v.comments %}
        class="btn btn-warning">
        {% else %}
        class="btn btn-light">
        {% endif %}
        {{ v.comments | length }}</button>
      </td>
      <td>
        <select name="variant" id="variant">
          <option value="artefact">Artefact</option>
          <option value="genuine">Genuine</option>
          <option value="genuine">Miscalled - see below</option>
          <option value="genuine">etc</option>
        </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

<!-- button to add new variant in case of miscalled indels -->
<div>
<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-variant-modal">
  Add variant
</button>
</div>
<br>


<!-- poly list -->
<div id="accordion">
  <div class="card">
    <div class="card-header" id="heading-polys">
      <h5 class="mb-0">
        <button class="btn btn-light" data-toggle="collapse" data-target="#polys" aria-expanded="true" aria-controls="polys">
          <span class="fa fa-search"></span> Known polys - {{ variant_data.polys | length }}
        </button>
      </h5>
    </div>

    <div id="polys" class="collapse" aria-labelledby="heading-polys" data-parent="#accordion">
      <div class="card-body">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Variant</th>
              <th scope="col">Gene</th>
              <th scope="col">HGVS</th>
              <th scope="col">VAF</th>
            </tr>
          </thead>
          <tbody>
            {% for p in variant_data.polys %}
            <tr>
              <td>
                {{ p.genomic }} <a href="#" class="badge badge-info">IGV</a>
              </td>
              <td>
                {{ p.gene }}<br>{{ p.exon }}
              </td>
              <td>
                {{ p.transcript }}<br>{{ p.hgvs_c }}<br>{{ p.hgvs_p}}
              </td>
              <td>
                {{ p.vaf.vaf }}<br>{{ p.vaf.alt_count }} of {{ p.vaf.total_count }} reads
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="counts-modal" tabindex="-1" role="dialog" aria-labelledby="counts-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="counts-modalLabel">1:12345A>G</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="btn-toolbar col-12" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group col-6" role="group" aria-label="First group">
            <button type="button" class="btn btn-info">This referral</button>
            <button type="button" class="btn btn-light">All referrals</button>
          </div>
          <div class="input-group col-6">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
          </div>
        </div>

        <br>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sample ID</th>
              <th scope="col">Run ID</th>
              <th scope="col">Panel</th>
              <th scope="col">Classification</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>


<!-- Comments Modal -->
<div class="modal fade" id="comments-modal" tabindex="-1" role="dialog" aria-labelledby="comments-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comments-modal-label">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Comment</th>
              <th scope="col">User</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Test</td>
              <td>EW</td>
            </tr>
            <tr>
              <td>Test 2</td>
              <td>EW</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>


<!-- Add variant modal -->
<div class="modal fade" id="add-variant-modal" tabindex="-1" role="dialog" aria-labelledby="add-variant-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-variant-modalLabel">Add new variant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% crispy new_variant_form %}

      </div>

    </div>
  </div>
</div>



<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
