{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item active"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'view_worksheets' 'recent' %}">Worksheets</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'view_ws_samples' sample_data.worksheet_id %}">{{ sample_data.worksheet_id }}</a></li>
      <li class="breadcrumb-item active">{{ sample_data.sample_id }}</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sample</th>
        <th scope="col">Referral</th>
        <th scope="col">Worksheet</th>
        <th scope="col">Status</th>
        <th scope="col">Assigned to</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>{{ sample_data.sample_id }}</td>
        <td>{{ sample_data.panel_obj }}</td>
        <td>{{ sample_data.worksheet_id }}</td>
        <td>{{ sample_data.status }}</td>
        <td>{{ sample_data.checks.assigned_to }}</td>
      </tr>

    </tbody>
  </table>
</div>

<br>

<div class="container-fluid">
  <ul class="nav nav-tabs nav-justified">

    <!-- patient summary tab -->
    <li class="nav-item">
      <a class="nav-link section-button active" href="#details" data-target="details">Patient details</a>
    </li>

    {% if 'QC' not in sample_data.status %}

      <!-- SNV specific tabs -->
      {% if sample_data.panel_obj.show_snvs %}
      <li class="nav-item">
        <a class="nav-link section-button" href="#depth" data-target="depth">Depth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link section-button" href="#snvs" data-target="snvs">SNVs & indels</a>
      </li>
      {% endif %}

      <!-- fusion specific tab -->
      {% if sample_data.panel_obj.show_fusions %}
      <li class="nav-item">
        <a class="nav-link section-button" href="#rna" data-target="rna">Fusions</a>
      </li>
      {% endif %}

    {% endif %}

    <!-- show finalise tab if analysis not yet complete -->
    {% if 'IGV' in sample_data.status or sample_data.status == 'Bioinformatics QC 1' or sample_data.status == 'Bioinformatics QC 2' %}
    <li class="nav-item">
      <a class="nav-link section-button" href="#finalise" data-target="finalise">Finalise</a>
    </li>

    <!-- otherwise show report tab -->
    {% else %}
    <li class="nav-item">
      <a class="nav-link section-button" href="#report" data-target="report">Report summary</a>
    </li>

    {% endif %}


  </ul>
</div>
<br>


<!-- load in each section from template -->
<div class="container" id="details">{% include 'analysis/analysis-info.html' %}</div>

{% if 'QC' not in sample_data.status %}

  {% if sample_data.panel_obj.show_snvs %}
  <div class="container-fluid" id="depth">{% include 'analysis/analysis-depth.html' %}</div>
  <div class="container-fluid" id="snvs">{% include 'analysis/analysis-snvs.html' %}</div>
  {% endif %}

  {% if sample_data.panel_obj.show_fusions %}
  <div class="container-fluid" id="rna">{% include 'analysis/analysis-fusions.html' %}</div>
  {% endif %}

{% endif %}

{% if 'IGV' in sample_data.status or sample_data.status == 'Bioinformatics QC 1' or sample_data.status == 'Bioinformatics QC 2' %}
<div class="container" id="finalise">{% include 'analysis/analysis-finalise.html' %}</div>

{% else %}
<div class="container-fluid" id="report">{% include 'analysis/analysis-report.html' %}</div>

{% endif %}




<!--------------------------------------------------------------------------------------- 
    Javascript
---------------------------------------------------------------------------------------->
<script>

    // function to clear all sections
    function clear_sections(sections) {
        var i;
        for (i=0; i<sections.length; i++) {
            $(sections[i]).hide();
        };
    };


    // function to show specific section
    function show_section(target, sections) {
        // clear all sections content
        clear_sections(sections);
        // get button for section
        for (i=0; i<$('.section-button').length; i++) {
            var temp = '#' + $('.section-button')[i].dataset.target;
            if ( target == temp ) {
                var section_button = $('.section-button')[i];
            };
        };
        // clear active class from all, then add to current button
        $('.section-button').removeClass('active');
        $(section_button).addClass('active');
        // add section content
        $(target).fadeIn(200);
    };


    // get a list of section buttons
    var i; var sections_list = [];
    for (i=0; i<$('.section-button').length; i++) {
        sections_list.push('#' + $('.section-button')[i].dataset.target);
    };


    // page loadup - load section after hash otherwise load overview
    clear_sections(sections_list);
    if ( sections_list.includes(window.location.hash)) {
        show_section(window.location.hash, sections_list);
    } else {
        $("#details").fadeIn(200)
    };


    // handler for section button click
    $('.section-button').click(function() {
        var target = '#' + $(this).data('target');
        show_section(target, sections_list);
    });

</script>



{% endblock %}