{% load crispy_forms_tags %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Region</th>
      <th scope="col">Average coverage</th>
      <th scope="col">% at 135X</th>
      <th scope="col">% at 270X</th>
      <th scope="col">Average NTC coverage</th>
      <th scope="col">% NTC</th>
      <th scope="col">% COSMIC</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for region, v in coverage_data.items %}
    <tr>
      <td>{{ region }}<br><br></td>
      <td>{{ v.av_coverage }}</td>
      <td>{{ v.percent_270x }}</td>
      <td>{{ v.percent_135x }}</td>
      <td>{{ v.av_ntc_coverage }}</td>
      <td>{{ v.percent_ntc }}</td>
      <td>{{ v.percent_cosmic }}</td>
      <td>
        <button class="btn btn-light" data-toggle="collapse" href="#collapse-{{ region }}" role="button" aria-expanded="false" aria-controls="collapse-{{ region }}">
          <span class="fa fa-chevron-down"></span>
        </button>
      </td>
    </tr>
    <tr class="collapse" id="collapse-{{ region }}">
      <td></td>
      <td colspan="6">

        <p><b>Regions</b></p>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Region</th>
              <th scope="col">Average coverage</th>
              <th scope="col">% at 135X</th>
              <th scope="col">% at 270X</th>
              <th scope="col">Average NTC coverage</th>
              <th scope="col">% NTC</th>
              <th scope="col">% COSMIC</th>
            </tr>
          </thead>
          <tbody>
          {% for r in v.regions %}
            <tr>
              <td>Exon 1 etc...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        
        <p><b>Gaps</b></p>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Region</th>
              <th scope="col">Genomic coords</th>
              <th scope="col">% at 135X</th>
              <th scope="col">% at 270X</th>
              <th scope="col">Average NTC coverage</th>
              <th scope="col">% COSMIC</th>
            </tr>
          </thead>
          <tbody>
          {% for r in v.gaps %}
            <tr>
              <td>{{ r.hgvs_c }}</td>
              <td>{{ r.genomic }}</td>
              <td>{{ r.percent_135x }}</td>
              <td>{{ r.percent_270x }}</td>
              <td>{{ r.ntc }}</td>
              <td>5%</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>

<p><b>Comments</b></p>
<p>No comments</p>
<button type="button" class="btn btn-info">Add comment</button>
