{% load crispy_forms_tags %}

{% if sample_data.checks.current_status  == 'Fail' %}
<div class="alert alert-danger">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <strong>Warning!</strong> This sample has failed.
      </div>
      <div class="col-4">
        <form method="GET">
          <button type="submit" name="download-rna" id="download" class="btn btn-danger w-100">Download report</button>
        </form>
      </div>
    </div>
  </div>  
</div>

{% else %}
<div class="alert alert-success">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <strong>Success!</strong> This sample has completed analysis.
      </div>
      <div class="col-4">
        <form method="GET">
          <button type="submit" name="download-rna" id="download" class="btn btn-success w-100">Download report</button>
        </form>
      </div>
    </div>
  </div>  
</div>

{% endif %}
<br>


<h5>Variants</h5>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Fusion</th>
      <th scope="col">HGVS</th>
      <th scope="col">Fusion supporting reads</th>
      <th scope="col">Left breakpoint</th>
      <th scope="col">Right breakpoint</th>
      <th scope="col">IGV</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>



  <tbody>

    {% for v in fusion_data.fusion_calls %}
    {% if v.final_decision == "Genuine" or v.final_decision == "Miscalled" %}
    <tr>
      <td>{{ v.fusion_genes }}</td>
      <td>{{ v.fusion_hgvs }}</td>
      <td>{{ v.fusion_supporting_reads }}</td>
      <td>{{ v.left_breakpoint }}</td>
      <td>{{ v.right_breakpoint }}</td>
      <td>{{ v.final_decision }}</td>
      <td>
      {% for c in v.comments %}
        {{ c.user }}-{{ c.comment }}<br>
      {% endfor %}
      </td>
      <td></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<br>


<h5>Checks performed</h5>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Check</th>
      <th>User</th>
      <th>Patient info check</th>
      <th>Comments</th>
      
    </tr>
  </thead>
  <tbody>
    {% for c in sample_data.checks.all_checks %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ c.user }}<br>{{ c.signoff_time }}</td>
      <td>{{ c.patient_info_check }}</td>
      <td>{{ c.overall_comment | wordwrap:100 | linebreaksbr }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
