{% load crispy_forms_tags %}

<h5>Patient details</h5>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="col-4"><b>Patient ID</b></td>
      <td class="col-8">{{ sample_data.sample_id }}</td>
    </tr>
    <tr>
      <td><b>Patient name</b></td>
      <td>
        {{ sample_data.sample_name }}
        {% if sample_data.checks.current_status != 'Complete' and sample_data.checks.current_status != 'Fail'%}
        <button type="button" style="float: right;" class="btn btn-sm btn-warning w-25" data-toggle="modal" data-target="#update-name">Update</button>
        {% endif %}
      </td>
    </tr>
    {% if sample_data.assay == '5' %}
    <tr>
      <td><b>Tumour Content</b></td>
      <td>
        {{ sample_data.tumour_content }}
        {% if sample_data.checks.current_status != 'Complete' and sample_data.checks.current_status != 'Fail'%}
        <button type="button" style="float: right;" class="btn btn-sm btn-warning w-25" data-toggle="modal" data-target="#update-tumour-content">Update</button>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td><b>Worksheet</b></td>
      <td>{{ sample_data.worksheet_id }}</td>
    </tr>
    <tr>
      <td><b>Panel</b></td>
      <td>{{ sample_data.panel_obj }}</td>
    </tr>
    <tr>
      <td><b>Assay</b></td>
      <td>{{ sample_data.panel_obj.get_assay_display }}</td>
    </tr>
    <tr>
      <td><b>Run ID</b></td>
      <td>{{ sample_data.run_id }}</td>
    </tr>
    <tr>
      <td><b>Genome Build</b></td>
      {% if sample_data.genome_build == 37 %}
      <td><span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</td>
      {% elif sample_data.genome_build == 38 %}
      <td><span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</td>
      {% endif %}   
    </tr>
  </tbody>
</table>

<br>


<!-- Patient name Modal -->
<div class="modal fade" id="update-name" tabindex="-1" role="dialog" aria-labelledby="update-name-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update-name-label">Update patient name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% crispy update_name_form %}

      </div>

    </div>
  </div>
</div>

<!-- Tumour Content Modal -->
<div class="modal fade" id="update-tumour-content" tabindex="-1" role="dialog" aria-labelledby="update-tumour-content-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update-name-label">Update tumour content</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy update_tumour_content_form %}
      </div>
    </div>
  </div>
</div>