{% load crispy_forms_tags %}

<!-- this tab is only rendered if there are still checks to perform -->


<h5>Comments</h5>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th class="col-1"></th>
      <th class="col-1">Pass/fail</th>
      <th class="col-1">Patient info check</th>
      <th class="col-2">User</th>
      <th class="col-7">Comment</th>
    </tr>
  </thead>
  {% for check in sample_data.checks.all_checks %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        {% if check.status ==  'C' %}
        <span class="badge badge-pill badge-success">Pass</span>
        {% elif check.status ==  'P' %}
        <span class="badge badge-pill badge-secondary">{{ check.get_status_display }}</span>
        {% else %}
        <span class="badge badge-pill badge-danger">{{ check.get_status_display }}</span>
        {% endif %}
      </td>
      <td>{{ check.patient_info_check }}</td>
      <td>{{ check.user }}<br>{% firstof check.signoff_time '' %}</td>
      <td>{{ check.overall_comment | wordwrap:80 | linebreaksbr }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

<div class="card-body">
  {% crispy sample_comment_form %}
</div>


<br>
<br>
<div class="card-body bg-light">

  <h5>Analysis complete?</h5>
  <br>
  <button class="btn btn-info" style="width:49%;" type="button" data-toggle="modal" data-target="#finalise-modal">Complete check</button>
  <button class="btn btn-info" style="width:49%;" type="button" data-toggle="modal" data-target="#send-back-modal">Send check back</button>

</div>


<!-- sign off modal -->
<div class="modal fade" id="finalise-modal" tabindex="-1" role="dialog" aria-labelledby="finalise-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="finalise-modalLabel">Complete check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'analysis/forms/finalise_form.html' %}
      </div>
    </div>
  </div>
</div>


<!-- send back modal -->
<div class="modal fade" id="send-back-modal" tabindex="-1" role="dialog" aria-labelledby="send-back-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="send-back-modalLabel">Send back to previous check?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% if sample_data.checks.previous_check_object %}
        <div class="alert alert-danger" role="alert">
          <h5><span class="fa fa-exclamation-triangle" style="color:firebrick"></span> Warning</h5>
          <p>Sending a check back will remove your check permanently, are you sure you want to continue?</p>
          <p>Sample will be sent back to <strong>{{ sample_data.checks.previous_check_object.user }}</strong>, please let them know that you are sending this back to them</p>
          <br>
          {% crispy send_back_form %}
        </div>

        {% else %}
        <div class="alert alert-info" role="alert">
          <p>There isn't a previous check to send back to</p>
        </div>

        {% endif %}
      </div>
    </div>
  </div>
</div>



<script>
  $(document).ready(function(){
      $("#finalise-modal").on('show.bs.modal', function(){
          var finalise_form_check_1 = document.getElementById("finalise_form_check_1");
          var finalise_form_pass_fail = document.getElementById("finalise_form_pass_fail");
          var finalise_form_check_2 = document.getElementById("finalise_form_check_2");
          var finalise_form_next_step = document.getElementById("finalise_form_next_step");

          var pass_button = document.getElementById("id_analysis_pass_fail_0").parentElement
          var fail_button = document.getElementById("id_analysis_pass_fail_1").parentElement
          var extra_check_button = document.getElementById("id_next_step_0").parentElement
          var complete_button = document.getElementById("id_next_step_1").parentElement

          // add button specific CSS class for pass/fail
          pass_button.classList.add("btn-outline-success");
          fail_button.classList.add("btn-outline-danger");

          // unset button values - TODO this doesnt remove the actual value, so form validation wont work, need to completely reset each section of the form
          pass_button.classList.remove("active")
          fail_button.classList.remove("active")
          extra_check_button.classList.remove("active")
          complete_button.classList.remove("active")

          // hide all but first check
          finalise_form_pass_fail.style.display = "none";
          finalise_form_check_2.style.display = "none";
          finalise_form_next_step.style.display = "none";

          // TODO ajax on first check and show pass/fail
          setTimeout(() => {  finalise_form_pass_fail.style.display = "block"; }, 2000);

          // TODO ajax on pass/fail button click to hide next step button and run second check ajax
          $('#id_analysis_pass_fail_0').on('click', function(event) {
            finalise_form_check_2.style.display = "block";
            finalise_form_next_step.style.display = "none";
            extra_check_button.classList.remove("active")
            complete_button.classList.remove("active")
            setTimeout(() => {  finalise_form_next_step.style.display = "block"; }, 2000);
          });

          // TODO ajax on fail button click
          $('#id_analysis_pass_fail_1').on('click', function(event) {
            finalise_form_check_2.style.display = "none";
            extra_check_button.classList.remove("active")
            complete_button.classList.remove("active")
            finalise_form_next_step.style.display = "block";
          });

          // TODO ajax to disable complete button if not enough checks done
          //complete_button.classList.add("disabled");

      });
  });
</script>