{% load crispy_forms_tags %}

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-1"></th>
      <th scope="col" class="col-1">Region</th>
      <th scope="col" class="col-2">Average depth</th>
      <th scope="col" class="col-2">% at 135X</th>
      <th scope="col" class="col-2">% at 270X</th>
      <th scope="col" class="col-2">Average NTC depth</th>
      <th scope="col" class="col-1">% NTC</th>
      <th scope="col" class="col-1"></th>
    </tr>
  </thead>
  <tbody>
    {% for region, v in coverage_data.items %}
    <tr>
      <td></td>
      <td>{{ region }}<br><br></td>
      <td>{{ v.av_coverage }}</td>
      <td>
        {{ v.percent_135x }}
        {% if v.percent_135x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      <td>
        {{ v.percent_270x }}
        {% if v.percent_270x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      <td>
        {{ v.av_ntc_coverage }}
        {% if v.av_ntc_coverage != 0 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      <td>
        {{ v.percent_ntc }}
        {% if v.percent_ntc != 0 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>

      <td>
        <button class="btn btn-light" data-toggle="collapse" href="#collapse-{{ region }}" role="button" aria-expanded="false" aria-controls="collapse-{{ region }}">
          <span class="fa fa-chevron-down"></span>
        </button>
      </td>
    </tr>
    <tr class="collapse" id="collapse-{{ region }}">

      <td></td>
      <td colspan="6">
        <div class="card bg-light">
          <div class="card-body">

            <p><b>Regions</b></p>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="col-5">HGVS</th>
                  <th scope="col" class="col-2">Hotspot/ genescreen</th>
                  <th scope="col" class="col-1">Average coverage</th>
                  <th scope="col" class="col-1">% at 135X</th>
                  <th scope="col" class="col-1">% at 270X</th>
                  <th scope="col" class="col-1">Average NTC coverage</th>
                  <th scope="col" class="col-1">% NTC</th>
                </tr>
              </thead>
              <tbody>
              {% for r in v.regions %}
                <tr>
                  <td>{{ r.hgvs_c }}</td>
                  <td>
                    {% if r.hotspot_or_genescreen == 'Hotspot' %}
                    <button class="btn btn-sm btn-warning">Hotspot</button>
                    {% elif r.hotspot_or_genescreen == 'Genescreen' %}
                    <button class="btn btn-sm btn-info">Genescreen</button>
                    {% endif %}
                  </td>
                  <td>{{ r.average_coverage }}</td>
                  <td>
                    {{ r.percent_135x}}
                    {% if r.percent_135x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  <td>
                    {{ r.percent_270x }}
                    {% if r.percent_270x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  <td>
                    {{ r.ntc_coverage }}
                    {% if r.ntc_coverage != 0 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  <td>
                    {{ r.percent_ntc }}
                    {% if r.percent_ntc != 0 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <br>
            
            <p><b>Hotspot gaps at 270X</b></p>
            {% if v.gaps_270 %}
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="col-5">HGVS</th>
                  <th scope="col" class="col-5">Genomic</th>
                  <th scope="col" class="col-2">% COSMIC</th>
                </tr>
              </thead>
              <tbody>
              {% for r in v.gaps_270 %}
                <tr>
                  <td>{{ r.hgvs_c }}</td>
                  <td>{{ r.genomic }}</td>
                  <td>N/A</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {% else %}
            <div class="alert alert-success">
              No hotspot gaps at 270X
            </div>
            
            {% endif %}


            <p><b>Hotspot gaps at 135X</b></p>
            {% if v.gaps_135 %}
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="col-5">HGVS</th>
                  <th scope="col" class="col-5">Genomic</th>
                  <th scope="col" class="col-2">% COSMIC</th>
                </tr>
              </thead>
              <tbody>
              {% for r in v.gaps_135 %}
                <tr>
                  <td>{{ r.hgvs_c }}</td>
                  <td>{{ r.genomic }}</td>
                  <td>N/A</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {% else %}
            <div class="alert alert-success">
              No hotspot gaps at 135X
            </div>

            {% endif %}

          </div>
      </div>
    </td>
    <td></td>

    {% endfor %}
  </tbody>
</table>

<br>
<br>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm">

      <h5>Comments</h5>
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Comment</th>
            <th scope="col">NTC check</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        {% for check in sample_data.checks.all_checks %}
        <tbody>
          <tr>
            <td>{{ check.coverage_comment | wordwrap:70 | linebreaksbr }}</td>
            <td>{{ check.coverage_ntc_check }}</td>
            <td>{{ check.user }}<br>{{ check.coverage_comment_updated }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

    </div>
    {% if sample_data.checks.current_status != 'Complete' and sample_data.checks.current_status != 'Fail'%}
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
    
          <h5>Coverage check</h5>
          <br>
    
          {% crispy coverage_check_form %}
    
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
