{% load crispy_forms_tags %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Gene</th>
      <th scope="col">Average depth</th>
      {% if '135' in coverage_data.depth_cutoffs %}
      <th scope="col">% at 135X</th>
      {% endif %}
      {% if '270' in coverage_data.depth_cutoffs %}
      <th scope="col">% at 270X</th>
      {% endif %}
      {% if '500' in coverage_data.depth_cutoffs %}
      <th scope="col">% at 500X</th>
      {% endif %}
      {% if '1000' in coverage_data.depth_cutoffs %}
      <th scope="col">% at 1000X</th>
      {% endif %}
      <th scope="col">Average NTC depth</th>
      <th scope="col">% NTC</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for region, value in coverage_data.regions.items %}
    <tr>
      <!-- gene summary section ---------------------------->
      <td>{{ region }}<br><br></td>
      <td>{{ value.av_coverage }}</td>

      {% if '135' in coverage_data.depth_cutoffs %}
      <td>
        {{ value.percent_135x }}
        {% if value.percent_135x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      {% endif %}

      {% if '270' in coverage_data.depth_cutoffs %}
      <td>
        {{ value.percent_270x }}
        {% if value.percent_270x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      {% endif %}

      {% if '500' in coverage_data.depth_cutoffs %}
      <td>
        {{ value.percent_500x }}
        {% if value.percent_500x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      {% endif %}

      {% if '1000' in coverage_data.depth_cutoffs %}
      <td>
        {{ value.percent_1000x }}
        {% if value.percent_1000x != 100 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      {% endif %}

      <td>
        {{ value.av_ntc_coverage }}
        {% if value.av_ntc_coverage != 0 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>
      <td>
        {{ value.percent_ntc }}
        {% if value.percent_ntc != 0 %}
        <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
        {% endif %}
      </td>

      <td>
        <button class="btn btn-light" data-toggle="collapse" href="#collapse-{{ region }}" role="button" aria-expanded="false" aria-controls="collapse-{{ region }}">
          <span class="fa fa-chevron-down"></span>
        </button>
      </td>
    </tr>

    <!-- detailed region coverage section -------------------------------->
    <tr class="collapse" id="collapse-{{ region }}">

      <td colspan="100%">
        <div class="card bg-light">
          <div class="card-body">

            <p><b>Regions</b></p>
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="col-5">HGVS</th>
                  <th scope="col">Hotspot/ genescreen</th>
                  <th scope="col">Average coverage</th>
                  {% if '135' in coverage_data.depth_cutoffs %}
                  <th scope="col">% at 135X</th>
                  {% endif %}
                  {% if '270' in coverage_data.depth_cutoffs %}
                  <th scope="col">% at 270X</th>
                  {% endif %}
                  {% if '500' in coverage_data.depth_cutoffs %}
                  <th scope="col">% at 500X</th>
                  {% endif %}
                  {% if '1000' in coverage_data.depth_cutoffs %}
                  <th scope="col">% at 1000X</th>
                  {% endif %}
                  <th scope="col">Average NTC coverage</th>
                  <th scope="col">% NTC</th>
                </tr>
              </thead>
              <tbody>
              {% for r in value.regions %}
                <tr>
                  <td>{{ r.hgvs_c }}</td>
                  <td>
                    {% if r.hotspot_or_genescreen == 'Hotspot' %}
                    <button class="btn btn-sm btn-warning">Hotspot</button>
                    {% elif r.hotspot_or_genescreen == 'Genescreen' %}
                    <button class="btn btn-sm btn-info">Genescreen</button>
                    {% endif %}
                  </td>
                  <td>{{ r.average_coverage }}</td>
                  {% if '135' in coverage_data.depth_cutoffs %}
                  <td>
                    {{ r.percent_135x}}
                    {% if r.percent_135x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  {% endif %}
                  {% if '270' in coverage_data.depth_cutoffs %}
                  <td>
                    {{ r.percent_270x }}
                    {% if r.percent_270x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  {% endif %}
                  {% if '500' in coverage_data.depth_cutoffs %}
                  <td>
                    {{ r.percent_500x }}
                    {% if r.percent_500x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  {% endif %}
                  {% if '1000' in coverage_data.depth_cutoffs %}
                  <td>
                    {{ r.percent_1000x }}
                    {% if r.percent_1000x != 100 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  {% endif %}
                  <td>
                    {{ r.ntc_coverage }}
                    {% if r.ntc_coverage != 0 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                  <td>
                    {{ r.percent_ntc }}
                    {% if r.percent_ntc != 0 %}
                    <span class="fa fa-exclamation-triangle" style="color:firebrick"></span>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <br>

            <!-- solid tumour gaps - dont show for myeloid -->
            {% if not myeloid_coverage_summary %}

              {% if '135' in coverage_data.depth_cutoffs %}
                <p><b>Hotspot gaps at 135X</b></p>
                {% if value.gaps_135 %}
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" class="col-5">HGVS</th>
                        <th scope="col" class="col-5">Genomic</th>
                        <th scope="col" class="col-1">% COSMIC</th>
                        <th scope="col" class="col-1">Counts COSMIC</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for gap in value.gaps_135 %}
                      <tr>
                        <td>{{ gap.gene }} {{ gap.hgvs_c }}</td>
                        <td>
                          {{ gap.genomic }}
                          {% if sample_data.genome_build == 37 %}
                          <span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% elif sample_data.genome_build == 38 %}
                          <span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% endif %}
                        </td>
                        <td>{{ gap.percent_cosmic }}</td>
                        <td>{{ gap.counts_cosmic }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                {% else %}
                  <div class="alert alert-success">
                    No hotspot gaps at 135X
                  </div>
                {% endif %}
              {% endif %}

              {% if '270' in coverage_data.depth_cutoffs %}
                <p><b>Hotspot gaps at 270X</b></p>
                {% if value.gaps_270 %}
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" class="col-5">HGVS</th>
                        <th scope="col" class="col-5">Genomic</th>
                        <th scope="col" class="col-1">% COSMIC</th>
                        <th scope="col" class="col-1">Counts COSMIC</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for gap in value.gaps_270 %}
                      <tr>
                        <td>{{ gap.gene }} {{ gap.hgvs_c }}</td>
                        <td>
                          {{ gap.genomic }}
                          {% if sample_data.genome_build == 37 %}
                          <span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% elif sample_data.genome_build == 38 %}
                          <span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% endif %}
                        </td>
                        <td>{{ gap.percent_cosmic }}</td>
                        <td>{{ gap.counts_cosmic }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                {% else %}
                  <div class="alert alert-success">
                    No hotspot gaps at 270X
                  </div>
                {% endif %}
              {% endif %}

              {% if '500' in coverage_data.depth_cutoffs %}
                <p><b>Hotspot gaps at 500X</b></p>
                {% if value.gaps_500 %}
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" class="col-5">HGVS</th>
                        <th scope="col" class="col-5">Genomic</th>
                        <th scope="col" class="col-2">% COSMIC</th>
                        <th scope="col" class="col-1">Counts COSMIC</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for gap in value.gaps_500 %}
                      <tr>
                        <td>{{ gap.gene }} {{ gap.hgvs_c }}</td>
                        <td>
                          {{ gap.genomic }}
                          {% if sample_data.genome_build == 37 %}
                          <span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% elif sample_data.genome_build == 38 %}
                          <span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% endif %}
                        </td>
                        <td>{{ gap.percent_cosmic }}</td>
                        <td>{{ gap.counts_cosmic }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                {% else %}
                  <div class="alert alert-success">
                    No hotspot gaps at 500X
                  </div>
                {% endif %}
              {% endif %}

              {% if '1000' in coverage_data.depth_cutoffs %}
                <p><b>Hotspot gaps at 1000X</b></p>
                {% if value.gaps_1000 %}
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col" class="col-5">HGVS</th>
                        <th scope="col" class="col-5">Genomic</th>
                        <th scope="col" class="col-2">% COSMIC</th>
                        <th scope="col" class="col-1">Counts COSMIC</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for gap in value.gaps_1000 %}
                      <tr>
                        <td>{{ gap.gene }} {{ gap.hgvs_c }}</td>
                        <td>
                          {{ gap.genomic }}
                          {% if sample_data.genome_build == 37 %}
                          <span class = "badge badge-info badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% elif sample_data.genome_build == 38 %}
                          <span class = "badge badge-success badge-pill">GRCh{{ sample_data.genome_build }}</span>
                          {% endif %}
                        </td>
                        <td>{{ gap.percent_cosmic }}</td>
                        <td>{{ gap.counts_cosmic }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                {% else %}
                  <div class="alert alert-success">
                    No hotspot gaps at 1000X
                  </div>
                {% endif %}
              {% endif %}

            {% endif %}

          </div>
      </div>
    </td>

    {% endfor %}
  </tbody>
</table>

<br>
<br>


<!-- only show this section if myeloid referral -->
{% if myeloid_coverage_summary %}
<div class="container-fluid">
  <div class="row">

      <h5>Gaps summary</h5>
      <table class="table table-striped">

        <tbody>
          <tr>
            <td scope="col" class="col-3"><b>Regions with 0% coverage</b></td>
            <td scope="col" class="col-8">
              <p style="display:inline">{{ myeloid_coverage_summary.summary_0x }}</p>
              <p style="display:none" id="coverage-text-0x">{{ myeloid_coverage_summary.summary_0x }}</p>
            </td>
            <td scope="col" class="col-1">
              <button class="btn btn-sm btn-info" onclick="copyToClipboard('#coverage-text-0x')"><span class="fa fa-copy"></span></button>
            </td>
          </tr>
          <tr>
            <td><b>Regions with less than 270X depth</b></td>
            <td>
              <p style="display:inline">{{ myeloid_coverage_summary.summary_270x }}</p>
              <p style="display:none" id="coverage-text-270x">{{ myeloid_coverage_summary.summary_270x }}</p>
            </td>
            <td>
              <button class="btn btn-sm btn-info" onclick="copyToClipboard('#coverage-text-270x')"><span class="fa fa-copy"></span></button>
            </td>
          </tr>
        </tbody>

      </table>

  </div>
</div>

<br>
<br>
{% endif %}


<div class="container-fluid">
  <div class="row">
    <div class="col-sm">

      <h5>Comments</h5>
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Comment</th>
            <th scope="col">NTC check</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        {% for check in sample_data.checks.all_checks %}
        <tbody>
          <tr>
            <td>{{ check.coverage_comment | wordwrap:70 | linebreaksbr }}</td>
            <td>{{ check.coverage_ntc_check }}</td>
            <td>{{ check.user }}<br>{{ check.coverage_comment_updated }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

    </div>
    {% if 'IGV' in sample_data.status %}
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
    
          <h5>Coverage check</h5>
          <br>
    
          {% crispy coverage_check_form %}
    
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
