{% load static %}

<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SVD</title>
    <link rel=icon href="{% static 'fontawesome-5.15.4/svgs/solid/dna.svg' %}">

    <!--Datatables and plugins packaged into one file-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.6.2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-5.15.4/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.13.2/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom/css/custom.css' %}">

    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'popper.js-1.14.3/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.2/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'fontawesome-5.15.4/js/all.js' %}"></script>
    <script src="{% static 'jquery-ui-1.13.2/jquery-ui.js' %}"></script>
  </head>

  <body>

    <!-- Top navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container">
        <span class="navbar-brand text-light">
          <i class="fa fa-dna"></i>
          <b>SVD</b>
        </span>
        <ul class="navbar-nav ml-auto">

          <!-- <li class="nav-item px-2">
            <a class="btn btn-info btn-outline-light" href="{% url 'home' %}">
              <span class="fa fa-vials"></span> SVD
            </a>
          </li>

          <li class="nav-item px-2">
            <a class="btn btn-info btn-outline-light" href="/swgs">
              <span class="fa fa-laptop-medical"></span> SWGS
            </a>
          </li> -->

          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown px-2">
            <a class="btn btn-info btn-outline-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-user"></span> {{ request.user }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'user_settings' %}">Manage user</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </div>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>


    <!-- insert breadcrumb section from child template -->
    {% block breadcrumbs %}
    {% endblock %}


    <!-- display success/ warnings -->
    <div class="container-fluid">
    {% if success %}
      {% for s in success %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> {{ s }}
      </div>
      {% endfor %}
    {% endif %}

    {% if warning %}
      {% for w in warning %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error:</strong> {{ w }}
      </div>
      {% endfor %}
    {% endif %}
    </div>

    <!-- Block -->
    {% block content %}
    {% endblock %}
    <br>
    <br>

    <!-- Bottom navbar -->
    <footer class="footer">
      <nav class="navbar navbar-light bg-light border-top border-thick">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="text-align:left">
              <a class="navbar-item navbar-text" href="{% url 'options_page' %}"><span class="fa fa-tools" style="width:30px;color:grey"></span><small>Options</small></a>
            </li>
            <li class="nav-item" style="text-align:left">
              <a class="navbar-item navbar-text" href="{% url 'admin:index' %}" target="_blank"><span class="fa fa-user-shield" style="width:30px;color:grey"></span><small>Admin</small></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="text-align:right">
              <a class="navbar-item navbar-text" href="#" target="_blank"><!--<span class="fa fa-question" style="width:30px;color:grey"></span><small>User guide</small>--></a>
            </li>
            <li class="nav-item" style="text-align:right">
              <a class="navbar-item navbar-text" href="mailto: bioinformatics.team@wales.nhs.uk"><span class="fa fa-exclamation-circle" style="width:30px;color:grey"></span><small>Issues: <b>bioinformatics.team@wales.nhs.uk</b></small></a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>


  </body>
  
</html>
