{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'options_page' %}">Options</a></li>
      <li class="breadcrumb-item"><a href="{% url 'user_settings' %}">User settings</a></li>
      <li class="breadcrumb-item active">Change password</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <br>
  <h5>Change password</h5>
  <br>
  {% crispy password_form %}

</div>
{% endblock %}