<head>
  <style>
    @page {
      size: letter landscape;
      margin: 2cm;
    }

    h1 {  font-size: 20px;  }
    h2 {  font-size: 15px;  }

    table th,
    table td {
      padding:3px;
      vertical-align: top;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      text-align: left;
    }

    table thead th {
      vertical-align: bottom;
      background-color: #D3D3D3;
      border-bottom: 2px solid #000;
    }
    .alert {
      padding: 10px;
      background-color: #f44336; /* Red */
      color: white;
      margin-bottom: 5px;
      text-align: center; 
    }
  </style>
</head>

<body>

  <h1>TSO500 DNA report for {{ sample_data.sample_id }}</h1>

  {% if sample_data.checks.current_status  == 'Fail' %}
  <div class="alert">
    <h2><b>This sample has failed QC</b></h2>
  </div> 
  <br>
  {% endif %}

  <h2>Patient details</h2>
  <table>
    <thead>
      <tr>
        <th style="width: 20%">Patient name</th>
        <th style="width: 15%">Worksheet</th>
        <th style="width: 15%">Panel</th>
        <th style="width: 30%">Run ID</th>
        <th style="width: 20%">Genome Build</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ sample_data.sample_name }}</td>
        <td>{{ sample_data.worksheet_id }}</td>
        <td>{{ sample_data.panel }}</td>
        <td>{{ sample_data.run_id }}</td>
        <td>GRCh{{ sample_data.genome_build }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>


  <h2>Variants</h2>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">Variant</th>
        <th style="width: 10%">Gene</th>
        <th style="width: 25%">HGVS</th>
        <th style="width: 5%">VAF</th>
        <th style="width: 10%">IGV</th>
        <th style="width: 30%">Comments</th>
      </tr>
    </thead>
    <tbody>
    {% for v in variant_data.variant_calls %}

      {% if v.final_decision == "Genuine" or v.final_decision == "Miscalled" %}
      <tr>
        <td>{{ v.genomic | truncatechars:20 }}</td>
        <td>{{ v.gene }} ({{ v.exon }})</td>
        <td>{{ v.hgvs_c }} ({{ v.hgvs_p }})</td>
        <td>{{ v.vaf.vaf_rounded }}%</td>
        <td>{{ v.final_decision }}</td>
        <td>
          {% for c in v.comments %}
          <i>{{ c.user }}:</i><br>{{ c.comment | wordwrap:50 | linebreaksbr }}<br>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <br>
  <br>


  <h2>Coverage</h2>

  <table>
    <thead>
      <tr>
        <th>Gene</th>
        <th>Percent 135X</th>
        <th>Percent 270X</th>
      </tr>
    </thead>

    <tbody>
      {% for gene, values in coverage_data.items %}
      <tr>
        <td>{{ gene }}</td>
        <td>{{ values.percent_135x }}</td>
        <td>{{ values.percent_270x }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

  {% if myeloid_coverage_summary %}
  <h2>Gaps summary</h2>

  <table>
    <tbody>
      <tr>
        <td style="width: 25%"><b>Regions with 0% coverage</b></td>
        <td style="width: 75%">{{ myeloid_coverage_summary.summary_0x }}</td>
      </tr>
      <tr>
        <td><b>Regions with less than 270X depth</b></td>
        <td>{{ myeloid_coverage_summary.summary_270x }}</td>
      </tr>
    </tbody>
  </table>

  {% else %}
  <h2>Hotspot gaps</h2>

  <table>
    <thead>
      <tr>
        <th style="width: 100%">Hotspot gap at 270X</th>
      </tr>
    </thead>

    <tbody>
      {% for gene, values in coverage_data.items %}
        {% for gap in values.gaps_270 %}
        <tr>
          <td>{{ gap.hgvs_c }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <br>

  <table>
    <thead>
      <tr>
        <th style="width: 100%">Hotspot gaps at 135X</th>
      </tr>
    </thead>

    <tbody>
      {% for gene, values in coverage_data.items %}
        {% for gap in values.gaps_135 %}
        <tr>
          <td>{{ gap.hgvs_c }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

  {% endif %}

  <br>
  <br>

  <h2>Checks performed</h2>

  <table>
    <thead>
      <tr>
        <th style="width: 10%">Check</th>
        <th style="width: 20%">User</th>
        <th style="width: 10%">Patient info check</th>
        <th style="width: 10%">NTC check</th>
        <th style="width: 50%">Comments</th>
      </tr>
    </thead>

    <tbody>
      {% for c in sample_data.checks.all_checks %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.user }}<br>{{ c.signoff_time }}</td>
        <td>{{ c.patient_info_check }}</td>
        <td>{{ c.coverage_ntc_check }}</td>
        <td>
          <i>Coverage:</i> {{ c.coverage_comment | wordwrap:50 | linebreaksbr }}<br>
          <i>Overall:</i> {{ c.overall_comment | wordwrap:50 | linebreaksbr }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  <br>
  
  <p>View report in somatic variant database: <a href="http://10.59.210.247:8000/analysis/{{ sample_data.sample_pk }}#report" target="_blank">http://10.59.210.247:8000/analysis/{{ sample_data.sample_pk }}#report</a></p>
  <p>PDF report generated {% now "jS F Y H:i" %}</p>

</body>
