{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item active">Options</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <!-- Variant lists section ----------------------------------------------------->
  <br>
  <h5>Variant lists</h5>

  <table class="table table-striped table-hover">
    <tbody>

    <!-- loop through each list and make card -->
    {% for list in variant_lists %}

      <tr>
        {% if list.list_type == 'P' %}
        <td class="col-11">
          <b>{{ list.header | safe }}</b>
          <p>View and edit the known poly list for <b>build {{ list.genome_build }}</b>. These will be classed as polys in <b>all assays</b>.</p>
        </td>
        <td class="col-1"><a class="btn btn-info w-100" href="{% url 'view_polys' list.name %}">View</a></td>

        {% elif list.list_type == 'A' %}
        <td class="col-11">
          <b>{{ list.header | safe }}</b>
          <p>View and edit the known artefact list for <b>{{ list.get_assay_display }} build {{ list.genome_build }}</b>. These will be classed as artefacts in all {{ list.get_assay_display }} panels.</p>
        </td>
        <td class="col-1"><a class="btn btn-info w-100" href="{% url 'view_artefacts' list.name %}">View</a></td>

        {% elif list.list_type == 'F' %}
        <td class="col-11">
          <b>{{ list.header | safe }}</b>
          <p>View and edit the known fusion artefact list for <b>{{ list.get_assay_display }} build {{ list.genome_build }}</b>. These will be classed as artefacts in all {{ list.get_assay_display }} panels.</p>
        </td>
        <td class="col-1"><a class="btn btn-info w-100" href="{% url 'view_fusion_artefacts' list.name %}">View</a></td>

        {% endif %}
      </tr>

      {% endfor %}
    </tbody>
  </table>


  <!-- system settings section ----------------------------------------------------->
  <br><br>
  <h5>System settings</h5>

  <table class="table table-striped table-hover">
    <tbody>

      <tr>
        <!-- go to user settings page, also accessible from navbar -->
        <td class="col-11">
          <b>User settings</b>
          <p>View and edit settings for your personal user account.</p>
        </td>
        <td class="col-1"><a class="btn btn-info w-100" href="{% url 'user_settings' %}">View</a></td>
      </tr>

    </tbody>
  </table>

</div>

{% endblock %}
