{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<nav class="breadcrumb flex-nowrap" aria-label="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item active" href="{% url 'home' %}" aria-current="page"><span class="fa fa-home"></span></a>
    <a class="breadcrumb-item active" aria-current="page">Options</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">

  <!-- Variant lists section ----------------------------------------------------->
  <br>
  <h5>Variant lists</h5>

  <div class="card-columns">

    <!-- build 37 polys -->
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Build 37 poly list <span class="badge badge-info">GRCh37</span></h5>
        <p class="card-text">View and edit the known poly list for <b>build 37</b>. These will be classed as polys in all assays.</p>
        <a class="btn btn-info" href="{% url 'view_polys' 'build_37_polys' %}">View</a>
      </div>
    </div>
    
    <!-- build 38 polys -->
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Build 38 poly list <span class="badge badge-success">GRCh38</span></h5>
        <p class="card-text">View and edit the known poly list for <b>build 38</b>. These will be classed as polys in all assays.</p>
        <a class="btn btn-info" href="{% url 'view_polys' 'build_38_polys' %}">View</a>
      </div>
    </div>
    <!-- you can copy and paste the above card and it'll autowrap on the page -->
  </div>
  
  <!-- Artefacts -->
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">Build 38 artefact list <span class="badge badge-success">GRCh38</span></h5>
        <p class="card-text">View and edit the known artefact list for <b>TSO500 DNA build 38</b>. These will be classed as artefacts in TSO500 DNA assays.</p>
        <a class="btn btn-info" href="{% url 'view_artefacts' 'TSO500_DNA_b38_artefacts' %}">View</a>
      </div>
    </div>
    <!-- you can copy and paste the above card and it'll autowrap on the page -->
  </div>

  <!-- Variant lists section ----------------------------------------------------->
  <br><br>
  <h5>System settings</h5>

  <div class="card-columns">

    <!-- go to user settings page, also accessible from navbar -->
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">User settings</h5>
        <p class="card-text">View and edit settings for your personal user account.</p>
        <a class="btn btn-info" href="{% url 'user_settings' %}">View</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
