{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item active">Options</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <!-- Variant lists section ----------------------------------------------------->
  <br>
  <h5>Variant lists</h5>

  <div class="card-columns">

    <!-- loop through each list and make card -->
    {% for list in variant_lists %}
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">{{ list.header | safe }}</h5>
        {% if list.list_type == 'P' %}
        <p class="card-text">View and edit the known poly list for <b>build {{ list.genome_build }}</b>. These will be classed as polys in all assays.</p>
        <a class="btn btn-info" href="{% url 'view_polys' list.name %}">View</a>

        {% elif list.list_type == 'A' %}
        <p class="card-text">View and edit the known artefact list for <b>{{ list.get_assay_display }} build {{ list.genome_build }}</b>. These will be classed as artefacts in all {{ list.get_assay_display }} assays.</p>
        <a class="btn btn-info" href="{% url 'view_artefacts' list.name %}">View</a>

        {% elif list.list_type == 'F' %}
        <p class="card-text">View and edit the known fusion artefact list for <b>{{ list.get_assay_display }} build {{ list.genome_build }}</b>. These will be classed as artefacts in all {{ list.get_assay_display }} assays.</p>
        <a class="btn btn-info" href="{% url 'view_fusion_artefacts' list.name %}">View</a>

        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>

  <!-- system settings section ----------------------------------------------------->
  <br><br>
  <h5>System settings</h5>

  <div class="card-columns">

    <!-- go to user settings page, also accessible from navbar -->
    <div class="card bg-light">
      <div class="card-body">
        <h5 class="card-title">User settings</h5>
        <p class="card-text">View and edit settings for your personal user account.</p>
        <a class="btn btn-info" href="{% url 'user_settings' %}">View</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
