{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}

<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'user_settings' %}">User Settings</a></li>
      <li class="breadcrumb-item active">Self Audit Form</li>
    </ol>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
      {% crispy self_audit_form %}
      <div>
      <button type="button" id="select-all" class="btn btn-primary">Select All</button>
      <button type="button" id="deselect-all" class="btn btn-danger">Deselect All</button>
      <br>
      <br>
      </div>
      </div>
    </form>
</div>

<br>

<div class="container">
    <h5>Checks Performed</h5>
    <table class="table" id="tally-table">
        <thead>
          <tr>
            <th scope="col">Number of selected Checks:</th>
          </tr>
        <tbody>
            <tr>
            <td>{{ no_checks }}</td>    
            </tr>
        </tbody>  
    <br>
    <table class="table" id="self-audit-table">
        <thead>
          <tr>
            <th scope="col">Worksheet ID</th>
            <th scope="col">Assay</th>
            <th scope="col">Date Checked</th>
            <th scope="col">Checker</th>
            <th scope="col">Sample ID</th>
            <th scope="col">Comments</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        
        <tbody>
          {% for check in check_data %}
          <tr>
            <td>{{ check.Worksheet }}</td>
            <td>{{ check.Assay }}</td>
            <td>{{ check.Date_Checked }}</td>
            <td>{{ check.Checker }}</td> 
            <td>
                <a href={{ check.SVD_Link }}>{{ check.Sample }}</a>
            </td>
            <td>{{ check.Overall_Comments }}</td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

<!-- Script for the select/deselect all buttons -->
<script>
  document.getElementById('select-all').addEventListener('click', function() {
      // Select all checkboxes
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
          checkbox.checked = true;
      });
  });

  document.getElementById('deselect-all').addEventListener('click', function() {
      // Deselect all checkboxes
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach(function(checkbox) {
          checkbox.checked = false;
      });
  });
</script>      

{% endblock %}