{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<br>
{% endblock %}

{% block content %}

<div class="container">
  <br>

  <div class="card bg-light">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form class="form-horizontal" method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>

        <div class="form-actions">
          <button type="submit" class="btn btn-info w-100">Login</button>
        </div>
      </form>
    </div>
  </div>

  <br>

  <div class="alert alert-success">
    <a href="{% url 'signup' %}">Register for an account</a>
  </div>

</div>
{% endblock %}