{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<div class="container-fluid breadcrumbs-custom">
  <div class="container">
    <ol class="breadcrumb" style="background-color: transparent;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="{% url 'options_page' %}">Options</a></li>
      <li class="breadcrumb-item active">User settings</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <br>
  <h5>Log in details</h5>
  <br>

  <table class="table">
    <tbody>
      <tr>
        <th class="col-3">Username</th>
        <td class="col-7">{{ request.user }}</td>
        <td class="col-2"></td>
      </tr>
      <tr>
        <th class="col-3">Password</th>
        <td class="col-7">********</td>
        <td class="col-2">
          <a class="btn btn-secondary btn-sm btn-block" href="{% url 'change_password' %}">Change password</a>
        </td>
      </tr>
    </tbody>
  </table>

  {% block self_audit %}
    <h5>
      Self Audit
    </h5>
    <br>
      <div>
        <a class="btn btn-secondary" href="{% url 'self_audit' %}">Get Checks</a>
      </div>
  {% endblock %}





  <br>
  <h5>LIMS settings</h5>

  <div class="alert alert-warning">
    <strong>Warning!</strong><br>This information is used to link your SVD account to LIMS, please ensure that the information here matches LIMS.
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th class="col-3">LIMS initials</th>
        <td class="col-7">{{ request.user.usersettings.lims_initials }}</td>
        <td class="col-2">
          <a class="btn btn-secondary btn-sm btn-block" href="#" data-toggle="modal" data-target="#edit-lims-modal">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>

<!-- LIMS initials modal -->
<div class="modal fade" id="edit-lims-modal" tabindex="-1" role="dialog" aria-labelledby="edit-lims-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-lims-modal-label">Change LIMS initials</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% crispy lims_form %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}