{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav class="breadcrumb flex-nowrap" aria-label="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item active" href="{% url 'home' %}"><span class="fa fa-home"></span></a>
    <a class="breadcrumb-item active" href="{% url 'view_worksheets' %}" aria-current="page">Worksheets</a>
    <a class="breadcrumb-item active" aria-current="page">{{ worksheet }}</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h5>Samples {{ worksheet }}</h5>
  <br>

  <table class="table" id="samples-table">
    <thead>
      <tr>
        <th scope="col">Sample ID</th>
        <th scope="col">DNA/ RNA</th>
        <th scope="col">Panel</th>
        <th scope="col">Status</th>
        <th scope="col">Assigned to</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for sample, sample_info in samples.items %}
        {% for analysis in sample_info.panels %}
        <tr>
          <td>{{ sample }}</td>
          <td>{{ sample_info.dna_rna }}</td>
          <td>{{ analysis.panel }}</td>
          <td>{{ analysis.checks.current_status }}</td>
          <td>{{ analysis.checks.assigned_to }}</td>
          <td style="text-align:right">
            
            {% if analysis.checks.current_status == 'Complete' %}
            <a class="btn btn-light btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}#report" role="button">View</a>

            {% elif 'Fail' in analysis.checks.current_status %}
              {% if analysis.checks.current_status == 'Fail' %}
              <a class="btn btn-danger btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}#report" role="button">Fail</a>

              {% elif analysis.checks.current_status == 'Fail - 2nd check required' %}
              <a class="btn btn-warning btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">Fail (check required)</a>

              {% endif %}

            {% elif analysis.checks.assigned_to == None %}
            <a class="btn btn-success btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">Assign to me & analyse</a>

            {% elif analysis.checks.assigned_to != request.user %}
            <div class="btn-group btn-block">
              <a class="btn btn-light btn-block btn-disabled" href="#" role="button">Assigned to {{ analysis.checks.assigned_to }}</a>
              <button type="button btn-block" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-toggle="modal" data-target="#unassign-modal" data-pk="{{ analysis.analysis_id }}" data-sample="{{ sample }}" data-panel="{{ analysis.panel }}" data-user="{{ analysis.checks.assigned_to }}" data-status="{{ analysis.checks.current_status }}">
                  Unassign
                </a>
              </div>
            </div>

            {% else %}
            <div class="btn-group btn-block">
              <a class="btn btn-success btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">
                Analyse
              </a>
              <button type="button btn-block" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-toggle="modal" data-target="#unassign-modal" data-pk="{{ analysis.analysis_id }}" data-sample="{{ sample }}" data-panel="{{ analysis.panel }}" data-user="{{ analysis.checks.assigned_to }}" data-status="{{ analysis.checks.current_status }}">
                  Unassign
                </a>
              </div>
            </div>

            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

</div>


<!-- Unassign modal -->
<div class="modal fade" id="unassign-modal" tabindex="-1" role="dialog" aria-labelledby="unassign-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unassign-modal-label">Unassign analysis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          <strong>Warning!</strong> Are you sure you want to continue?<br>
          Unassigning a user will reset any decisions and comments from the current check 
        </div>

        <table class="table table-sm table-striped table-hover">
          <tbody>        
            <tr>
              <th>Sample</td>
              <td class="modal-sample"></td>
            </tr>
            <tr>
              <th>Panel</td>
              <td class="modal-panel"></td>
            </tr>
            <tr>
              <th>Current check</td>
              <td class="modal-status"></td>
            </tr>
            <tr>
              <th>Assigned to</td>
              <td class="modal-assigned"></td>
            </tr>
          </tbody>
        </table>

        {% crispy unassign_form %}

      </div>
    </div>
  </div>
</div>




<script>
    $(document).ready( function() {
      
        // Inititialise DataTable
        $('#samples-table').DataTable({
            paging: true,
            columns: [
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: false},
            ],
            info: true,
            pageLength: 25,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search by sample ID, panel, status or user",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            },
        });
    } );

    // pull analysis PK into the unnassign modal
    $('#unassign-modal').on('show.bs.modal', function (event) {
        // extract variables from button tags
        var button = $(event.relatedTarget);
        var pk = button.data('pk');
        var sample = button.data('sample');
        var panel = button.data('panel');
        var status = button.data('status');
        var assigned = button.data('user');
        var modal = $(this);

        // fill out table of sample details
        modal.find('.modal-sample').text(sample);
        modal.find('.modal-panel').text(panel);
        modal.find('.modal-status').text(status);
        modal.find('.modal-assigned').text(assigned);

        // put sample PK into hidden form so that it can be passed to backend
        document.getElementById ('id_unassign').value = pk;
    })
</script>

{% endblock %}