{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav class="breadcrumb flex-nowrap" aria-label="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item active" href="{% url 'home' %}" aria-current="page"><span class="fa fa-home"></span></a>
    <a class="breadcrumb-item active" aria-current="page">Worksheets</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h5>Worksheets</h5>
  <br>

  <table class="table" id="worksheets-table">
    <thead>
      <tr>
        <th scope="col">WS ID</th>
        <th scope="col">Run ID</th>
        <th scope="col">Assay</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for ws in worksheets %}
      <tr>
        <td>{{ ws.worksheet_id }}</td>
        <td>{{ ws.run_id }}</td>
        <td>{{ ws.assay }}</td>
        <td>{{ ws.status }}</td>
        <td style="text-align:right">
          <a class="btn btn-secondary" href="{% url 'view_samples' ws.worksheet_id %}" role="button">
              View samples
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

</div>

<script>
    $(document).ready( function() {

        // Inititialise DataTable
        $('#worksheets-table').DataTable({
            paging: true,
            ordering: true,
            info: true,
            pageLength: 10,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search by run ID, worksheet ID, assay or status",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            }
        });
    } );
</script>

{% endblock %}