{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav class="breadcrumb flex-nowrap" aria-label="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item active" href="{% url 'home' %}"><span class="fa fa-home"></span></a>
    <a class="breadcrumb-item active" href="{% url 'view_worksheets' %}" aria-current="page">Worksheets</a>
    <a class="breadcrumb-item active" aria-current="page">{{ worksheet }}</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h5>Samples {{ worksheet }}</h5>
  <br>

  <table class="table" id="samples-table">
    <thead>
      <tr>
        <th scope="col">Sample ID</th>
        <th scope="col">DNA/ RNA</th>
        <th scope="col">Panel</th>
        <th scope="col">Status</th>
        <th scope="col">Assigned to</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for sample, sample_info in samples.items %}
        {% for analysis in sample_info.panels %}
        <tr>
          <td>{{ sample}}</td>
          <td>{{ sample_info.dna_rna }}</td>
          <td>{{ analysis.panel }}</td>
          <td>{{ analysis.checks.current_status }}</td>
          <td>{{ analysis.checks.assigned_to }}</td>
          <td style="text-align:right">
            
            {% if analysis.checks.current_status == 'Complete' %}
            <a class="btn btn-light btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}#report" role="button">View</a>

            {% elif 'Fail' in analysis.checks.current_status %}
              {% if analysis.checks.current_status == 'Fail' %}
              <div class="btn-group btn-block">
              <a class="btn btn-danger btn-block" href="" role="button">
                Fail
              </a>
              <button type="button btn-block" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'analysis_sheet' analysis.analysis_id %}">View</a>
              </div>

              {% elif analysis.checks.current_status == 'Fail - 2nd check required' %}
              <a class="btn btn-warning btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">Failed (check required)</a>
              {% endif %}


            {% elif analysis.checks.assigned_to == None %}
            <a class="btn btn-success btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">Assign to me & analyse</a>


            


            {% elif analysis.checks.assigned_to != request.user %}
            <div class="btn-group btn-block">
              <a class="btn btn-light btn-block btn-disabled" href="#" role="button">
                Assigned to {{ analysis.checks.assigned_to }}
              </a>
              <button type="button btn-block" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Reassign</a>
                <!-- TODO - open a modal that allows you to change user/ unassign user -->
              </div>
            </div>

            {% else %}
            <div class="btn-group btn-block">
              <a class="btn btn-success btn-block" href="{% url 'analysis_sheet' analysis.analysis_id %}" role="button">
                Analyse
              </a>
              <button type="button btn-block" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Reassign</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Change analysis</a>
              </div>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

</div>

<script>
    $(document).ready( function() {
      
        // Inititialise DataTable
        $('#samples-table').DataTable({
            paging: true,
            columns: [
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: false},
            ],
            info: true,
            pageLength: 25,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search by sample ID, panel, status or user",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            },
        });
    } );
</script>

{% endblock %}