{% extends 'analysis/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav class="breadcrumb flex-nowrap" aria-label="breadcrumb">
  <div class="container">
    <a class="breadcrumb-item active" href="{% url 'home' %}" aria-current="page"><span class="fa fa-home"></span></a>
    <a class="breadcrumb-item active" aria-current="page">Worksheets</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h5>Worksheets</h5>
  <br>
  {% if filtered %}
  <div class="alert alert-warning">
    <div class="container">
      <div class="row">
        <div class="col-8">
          {% if query == 'training' %}
          <strong>Showing all non-diagnostic worksheets (training or validation cases)</strong><br>Click to view all worksheets (this will take some time to load).
          {% elif query == 'recent' %}
          <strong>Showing the most recent 30 worksheets</strong><br>Click to view all worksheets (this will take some time to load).
          {% elif query == 'pending' %}
          <strong>Showing all pending worksheets (with at least one sample going through IGV checking)</strong><br>Click to view all worksheets (this will take some time to load).
          {% endif %}
        </div>
        <div class="col-4">
          <a class="btn btn-warning w-100" href="{% url 'view_worksheets' 'all' %}" role="button">View all</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <table class="table" id="worksheets-table">
    <thead>
      <tr>
        <th scope="col">WS ID</th>
        <th scope="col">Run ID</th>
        <th scope="col">Assay</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for ws in worksheets %}
      <tr>
        <td>{{ ws.worksheet_id }}</td>
        <td>{{ ws.run_id }}</td>
        <td>{{ ws.assay }}</td>
        <td>{{ ws.status }}</td>
        <td style="text-align:right">
          <a class="btn btn-secondary" href="{% url 'view_samples' ws.worksheet_id %}" role="button">
              View samples
          </a>
        </td>
        <td>{{ ws.samples }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>

</div>

<script>
    $(document).ready( function() {

        // Inititialise DataTable
        $('#worksheets-table').DataTable({
            paging: true,
            columns: [
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: false},
                {orderable: false, visible: false}
            ],
            info: true,
            pageLength: 10,
            searching: true,
            aaSorting: [],
            language: {
                searchPlaceholder: "Search by run ID, worksheet ID, sample, assay or status",
                search: "",
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').css({ 'width': '500px', 'display': 'inline-block' });
            }
        });
    } );
</script>

{% endblock %}