<table class="table table-sm">
  <tbody>
    <tr>
      <th>Population</th>
      <th>Allele frequency</th>
    </tr>
    <tr>
      <td>gnomAD Overall</td>
      <td>x% (x of y)</td>
    </tr>
    <tr>
      <td>gnomAD pop max</td>
      <td>x% (x of y)</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-light" data-toggle="collapse" href="#gnomad" role="button" aria-expanded="false" aria-controls="gnomad">
  Show/ hide detailed gnomAD data
</a>
<div class="collapse" id="gnomad">
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>gnomAD African</td>
        <td>x% (x of y)</td>
      </tr>
       <tr>
        <td>gnomAD East Asian</td>
        <td>x% (x of y)</td>
      </tr>
      <tr>
        <td>gnomAD European (Non-Finnish)</td>
        <td>x% (x of y)</td>
      </tr>
      <tr>
        <td>gnomAD Latino</td>
        <td>x% (x of y)</td>
      </tr>
      <tr>
        <td>gnomAD South Asian</td>
        <td>x% (x of y)</td>
      </tr>
    </tbody>
  </table>

  <p>Link to gnomAD, show gnomAD version</p>
</div>
<br><br>