<tr>
  <th class="col-1">O2</th>
  <th class="col-7">Null variant in a tumour surpressor gene</th>
  <th class="col-4">
    <select size="1" id="code_o2" name="code_o2" class="btn btn-lg btn-block code-dropdown">
      <option value="O2_PE">Pending</option>
      <option value="O2_NA">Not applied</option>
      <option value="O2_SA">O2 Stand-alone</option>
      <option value="O2_VS">O2 Very strong (+8)</option>
      <option value="O2_ST">O2 Strong (+4)</option>
      <option value="O2_MO">O2 Moderate (+2)</option>
      <option value="O2_SU">O2 Supporting (+1)</option>
    </select>
  </th>
</tr>
<tr>
  <td colspan="2">
    {% include 'app_svig/annotations/mode_action.html' %}

    <a class="btn btn-light" data-toggle="modal" href="#guidence-modal" role="button" aria-expanded="false" aria-controls="guidence-modal">
      Detailed info O2
    </a>
  </td>

  <td colspan="1">
    <p>Checks</p>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Auto call:</td>
          <td>???</td>
        </tr>
        <tr>
          <td>1st check</td>
          <td>Pending
          </td>
        </tr>
      </tbody>
    </table>
    <p>Comments</p>
  </td>
</tr>
