<tr class="table-danger">
  <th class="col-1">O2</th>
  <th class="col-8">Null variant in a tumour surpressor gene</th>
  <th class="col-3">
    <div class="dropdown">
      <button class="btn btn-lg btn-block btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pending
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Not applied</a>
        <a class="dropdown-item" href="#">O3 Moderate (+2)</a>
        <a class="dropdown-item" href="#">B1 Stand-alone</a>
        <a class="dropdown-item" href="#">B1 Strong (-4)</a>
        <a class="dropdown-item" href="#">B1 Supporting (-1)</a>
      </div>
    </div>
  </th>
</tr>
<tr>
  <td colspan="2">
    {% include 'app_svig/annotations/mode_action.html' %}

    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      More/ less info...
    </a>

    <div class="collapse" id="collapseExample">
      <br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...
    </div>
  </td>

  <td colspan="1">
    <p>Checks</p>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Auto call:</td>
          <td>???</td>
        </tr>
        <tr>
          <td>1st check</td>
          <td>Pending
          </td>
        </tr>
      </tbody>
    </table>
    <p>Comments</p>
  </td>
</tr>
