<tr>
  <th class="col-1">O3<br>B4</th>
  <th class="col-7">Absent or very rare in population database (e.g. gnomAD)<br>Variant is present at a high level in a general population database (e.g. gnomAD)</th>
  <th class="col-4">
    <select size="1" id="code_o3_b4" name="code_o3_b4" class="btn btn-lg btn-block code-dropdown">
      <option value="O3_PE|B4_PE">Pending</option>
      <option value="O3_NA|B4_NA">Not applied</option>
      <option value="O3_MO|B4_NA">O3 Moderate (+2)</option>
      <option value="O3_NA|B4_SA">B4 Stand-alone</option>
      <option value="O3_NA|B4_VS">B4 Very strong (-8)</option>
      <option value="O3_NA|B4_ST">B4 Strong (-4)</option>
      <option value="O3_NA|B4_SU">B4 Supporting (-1)</option>
    </select>
  </th>
</tr>
<tr>
  <td colspan="2">
    {% include 'app_svig/annotations/gnomad.html' %}

    <a class="btn btn-light" data-toggle="modal" href="#guidence-modal" role="button" aria-expanded="false" aria-controls="guidence-modal">
      Detailed info O3
    </a>
    <a class="btn btn-light" data-toggle="modal" href="#guidence-modal" role="button" aria-expanded="false" aria-controls="guidence-modal">
      Detailed info B4
    </a>
  </td>

  <td colspan="1">
    <p><b>Checks</b></p>
    <table class="table table-sm">
      <tbody>
      {% for c in all_applied_codes %}
        <tr>
          <td>#{{ forloop.counter }}{% if forloop.last %} (Current){% endif %}</td>
          <td><span class="badge badge-{{ c.O3_B4.css_class }} w-100">{{ c.O3_B4.pretty_print }}</span></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p><b>Comments</b></p>
  </td>
</tr>