<tr>
  <th class="col-1">O3<br>B4</th>
  <th class="col-8">Absent or very rare in population database (e.g. gnomAD)<br>Variant is present at a high level in a general population database (e.g. gnomAD)</th>
  <th class="col-3">
    <select size="1" id="code_o3_b4" name="code_o3_b4" class="btn btn-lg btn-block code-dropdown">
      <option value="O3_NA|B4_NA">Not applied</option>
      <option value="O3_MO|B4_NA">O3 Moderate (+2)</option>
      <option value="O3_NA|B4_SA">B4 Stand-alone</option>
      <option value="O3_NA|B4_VS">B4 Very strong (-8)</option>
      <option value="O3_NA|B4_ST">B4 Strong (-4)</option>
      <option value="O3_NA|B4_SU">B4 Supporting (-1)</option>
    </select>
  </th>
</tr>
<tr>
  <td colspan="2">
    {% include 'app_svig/annotations/gnomad.html' %}

    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      More/ less info...
    </a>

    <div class="collapse" id="collapseExample">
      <br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...<br>...
    </div>
  </td>

  <td colspan="1">
    <p>Checks</p>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Auto call:</td>
          <td>???</td>
        </tr>
        <tr>
          <td>1st check</td>
          <td>Pending
          </td>
        </tr>
      </tbody>
    </table>
    <p>Comments</p>
  </td>
</tr>